:root:has(.colorChange-Mobile:checked),
:root:has(.colorChange-Tablet:checked) {
  --backgroundSidebar: white;
  --lineSidebar: #99afc9;
  --iconOpen_CLoseSidebar: black;
  --textSidebar: black;
  --textSubmenuSidebar: black;
  --textfooter: #a2b7cf;
  --iconSidebar: #a2b7cf;
  --borderMultiple: #99afc9;
  --borderUserSidebar: #99afc9;
  --backgroundFooterSidebar: #f7faff;
  --backgroundiconSubmenu: #f4f7fc;
  --backgroundSidebarHover: transparent;
  --textSidebarHover: #4090fc;
  --textSubmenuHover: #4090fc;
  --textSubmenuBeforeHover: #0193e3;
  --backgroundSidebarFocus: transparent;
  --backgroundSubmenuSidebarFocus: transparent;
  --backgroundMainSidebarFocus: transparent;
  --textSidebarFocus: #4090fc;
  --textUserActive: #4090fc;
  --backgroundiconSubmenuFocus: transparent; }

:root {
  --backgroundSidebar: #032c7b;
  --lineSidebar: #4064a8;
  --iconOpen_CLoseSidebar: white;
  --textSidebar: #90abdf;
  --textSubmenuSidebar: #7092d2;
  --textfooter: #90abdf;
  --iconSidebar: #6e9bf2;
  --borderMultiple: #032c7b;
  --borderUserSidebar: #012260;
  --backgroundFooterSidebar: #173686;
  --backgroundiconSubmenu: #082c7c;
  --backgroundSidebarHover: #022567;
  --textSidebarHover: white;
  --textSubmenuHover: white;
  --textSubmenuBeforeHover: #0193e3;
  --backgroundSidebarFocus: #022567;
  --backgroundSubmenuSidebarFocus: #022567;
  --backgroundMainSidebarFocus: #012260;
  --textSidebarFocus: white;
  --textUserActive: white;
  --backgroundiconSubmenuFocus: #082c7c;
  /* switch toggle */
  --switchBackground: #042c7c;
  /* breadcrumb color */
  --breadcrumbcolor: #93a5bc;
  --breadcrumbcolor_Active: #215cbd; }

.blue {
  color: #0092e3;
  background-color: #0092e3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }

.purple {
  color: #5252c0;
  background-color: #5252c0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }

.green {
  color: #12b785;
  background-color: #12b785;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }

.pink {
  color: #f4548c;
  background-color: #f4548c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }

.gray {
  color: #92a6c6;
  background-color: #92a6c6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; }

.DocType-pink {
  background-color: #f5f4ff !important; }

.DocType-blue {
  background-color: #ebf4fb !important; }

.DocType-green {
  background-color: #edf8f6 !important; }

.green-completed {
  color: #63d4d4; }

.btn-green {
  background-color: #63d4d4; }

.btn-green:hover {
  background-color: #51abab; }

.btn-blue {
  background-color: #0092e3; }

.btn-blue:hover {
  background-color: #0270ac; }

.bg-white {
  background-color: #fff;
  border-radius: 13px; }

.bg-gray {
  background-color: #f6f9ff !important; }

.green-pin {
  color: #25b003; }

.blue-pin {
  color: #0092e3; }

.text-gray {
  color: #92a6c6; }

body {
  font-family: "Ubuntu";
  position: relative;
  scroll-behavior: smooth; }

.content-all-section .Dashboard-page {
  margin-top: 72px;
  padding-top: 15px; }
  .content-all-section .Dashboard-page .title-dashboard h1 {
    font-family: Ubuntu-bold; }
  .content-all-section .Dashboard-page .Overview-bg {
    padding: 20px 10px;
    background-color: #edf5ff;
    position: relative;
    margin-bottom: 20px; }
    .content-all-section .Dashboard-page .Overview-bg .wrap {
      display: flex;
      align-items: center; }
      .content-all-section .Dashboard-page .Overview-bg .wrap .title-mounth {
        font-size: 18px;
        color: #617c9c;
        padding-left: 5px; }
        @media (min-width: 768px) {
          .content-all-section .Dashboard-page .Overview-bg .wrap .title-mounth {
            font-size: 24px; } }
        @media (min-width: 1200px) {
          .content-all-section .Dashboard-page .Overview-bg .wrap .title-mounth {
            font-size: 15px; } }
    @media (min-width: 768px) {
      .content-all-section .Dashboard-page .Overview-bg {
        border-radius: 35px;
        padding: 8px 10px 8px 20px; } }
    @media (min-width: 1200px) {
      .content-all-section .Dashboard-page .Overview-bg {
        padding: 4px 10px 4px 20px; } }
  .content-all-section .Dashboard-page .box-scroll-bar {
    background-color: #b2ceff;
    overflow: auto;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 40px 20px;
    border-radius: 10px; }
    .content-all-section .Dashboard-page .box-scroll-bar .cardCover {
      position: relative; }
      .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        border-radius: 18px;
        padding: 16px;
        position: relative;
        z-index: 40;
        width: 165px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .wrap-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 2px solid #e2ebf6;
          padding-bottom: 4px; }
          .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .wrap-title > i {
            color: #92a6c6; }
          .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .wrap-title .wrapDot-text {
            display: flex;
            align-items: center;
            gap: 10px; }
            .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .wrap-title .wrapDot-text i {
              border-radius: 50%;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px 0px, rgba(0, 0, 0, 0.05) 0px 5px 10px; }
            .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .wrap-title .wrapDot-text p {
              font-family: Ubuntu-bold;
              color: #233a67; }
        .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .borderDoc {
          margin-top: 20px;
          border: 2px dashed #e2ebf6;
          border-radius: 14px;
          padding: 8px;
          display: flex;
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          gap: 13px;
          color: black; }
          .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .borderDoc .icon-cover {
            background-color: #e2ebf6;
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 6px; }
            .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .borderDoc .icon-cover i {
              position: absolute;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) !important;
              font-size: 16px;
              color: #617c9c; }
          .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .borderDoc .text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start; }
            .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .borderDoc .text-wrap p:first-child {
              font-size: 28px;
              font-family: Ubuntu-bold; }
        .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .total-cover {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between; }
          .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .total-cover .total-box {
            justify-content: space-between;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px; }
            .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .total-cover .total-box .wrap {
              display: flex;
              align-items: center;
              gap: 6px;
              border-bottom: 1px solid #dce4f4; }
              .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .total-cover .total-box .wrap p,
              .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .total-cover .total-box .wrap i {
                color: #92a6c6; }
            .content-all-section .Dashboard-page .box-scroll-bar .cardCover .content .total-cover .total-box > p {
              font-size: 16px;
              color: #617c9c;
              font-family: Ubuntu-bold; }
      .content-all-section .Dashboard-page .box-scroll-bar .cardCover .cardCover-clone {
        position: absolute;
        width: 165px;
        height: 240px;
        border-radius: 18px;
        top: 5px;
        left: 0; }
  .content-all-section .Dashboard-page .General-number {
    display: flex;
    align-items: center;
    gap: 10px; }
    .content-all-section .Dashboard-page .General-number i {
      color: #92a6c6; }
  .content-all-section .Dashboard-page .General-number-cover {
    width: 100%;
    background-color: #fff;
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    justify-content: space-between; }
    .content-all-section .Dashboard-page .General-number-cover .cover-detail {
      display: flex;
      align-items: center;
      width: 80%;
      gap: 17px; }
      .content-all-section .Dashboard-page .General-number-cover .cover-detail .cover-icon {
        border: 1px solid #dce4f4;
        border-radius: 7px;
        width: 46px;
        height: 46px;
        background-color: #fff;
        position: relative; }
        .content-all-section .Dashboard-page .General-number-cover .cover-detail .cover-icon i {
          color: #617c9c;
          font-size: 16px;
          position: absolute;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) !important; }
      .content-all-section .Dashboard-page .General-number-cover .cover-detail .text-wrap {
        display: flex;
        justify-content: flex-start;
        flex-direction: column; }
        .content-all-section .Dashboard-page .General-number-cover .cover-detail .text-wrap p:first-child {
          font-size: 18px;
          color: #617c9c;
          align-self: flex-start;
          font-family: Ubuntu-bold; }
          @media (min-width: 1200px) {
            .content-all-section .Dashboard-page .General-number-cover .cover-detail .text-wrap p:first-child {
              font-size: 14px !important; } }
        .content-all-section .Dashboard-page .General-number-cover .cover-detail .text-wrap p:last-child {
          font-size: 16px;
          align-self: flex-start;
          font-family: Ubuntu-bold; }
          @media (min-width: 1200px) {
            .content-all-section .Dashboard-page .General-number-cover .cover-detail .text-wrap p:last-child {
              font-size: 16px !important; } }
    .content-all-section .Dashboard-page .General-number-cover i {
      color: #92a6c6; }
  @media (min-width: 768px) {
    .content-all-section .Dashboard-page .scroll-bar-right-side {
      height: 400px;
      overflow: auto;
      display: none;
      border: 3px solid #dce4f4;
      transform: translate(0px, -500px);
      transition-duration: 0.2s; } }
  @media (min-width: 1200px) {
    .content-all-section .Dashboard-page .scroll-bar-right-side {
      display: flex;
      overflow: unset;
      height: unset;
      transform: unset;
      border: 0px; } }
  .content-all-section .Dashboard-page .scroll-bar-right-side::-webkit-scrollbar {
    display: none; }
  .content-all-section .Dashboard-page .DocsType-cover {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #dce4f4; }
    .content-all-section .Dashboard-page .DocsType-cover .wrpa-title {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .content-all-section .Dashboard-page .DocsType-cover .wrpa-title .wrap-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px; }
        .content-all-section .Dashboard-page .DocsType-cover .wrpa-title .wrap-text p {
          font-size: 18px;
          color: #92a6c6; }
          @media (min-width: 1200px) {
            .content-all-section .Dashboard-page .DocsType-cover .wrpa-title .wrap-text p {
              font-size: 14px !important; } }
    @media (min-width: 768px) {
      .content-all-section .Dashboard-page .DocsType-cover {
        background-color: #eef0f5; } }
    @media (min-width: 1200px) {
      .content-all-section .Dashboard-page .DocsType-cover {
        background-color: #fff; } }
  .content-all-section .Dashboard-page .RecentAction-cover {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #dce4f4; }
    .content-all-section .Dashboard-page .RecentAction-cover .wrpa-title {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .content-all-section .Dashboard-page .RecentAction-cover .wrpa-title .wrap-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px; }
        .content-all-section .Dashboard-page .RecentAction-cover .wrpa-title .wrap-text p {
          font-size: 18px;
          color: #92a6c6; }
          @media (min-width: 1200px) {
            .content-all-section .Dashboard-page .RecentAction-cover .wrpa-title .wrap-text p {
              font-size: 14px !important; } }
    @media (min-width: 768px) {
      .content-all-section .Dashboard-page .RecentAction-cover {
        background-color: #eef0f5; } }
    @media (min-width: 1200px) {
      .content-all-section .Dashboard-page .RecentAction-cover {
        background-color: #fff; } }
    .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover {
      display: flex;
      padding: 17px 14px;
      flex-direction: column;
      border-color: #d8e4f4;
      border-radius: 14px;
      border: 1px solid #dce4f4;
      width: 100%;
      background-color: #fff; }
      .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        row-gap: 10px; }
        .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section {
          display: flex;
          align-items: center;
          gap: 20px; }
          .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .box-img {
            background-color: #e2ebf6;
            border-radius: 13px;
            padding: 5px; }
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .box-img .img-cover {
              border-radius: 50%;
              background-color: #fff;
              width: 50px;
              height: 50px;
              position: relative;
              overflow: hidden; }
              .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .box-img .img-cover img {
                width: 50px;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%); }
                @media (min-width: 1200px) {
                  .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .box-img .img-cover img {
                    width: 37px;
                    top: 58%; } }
              @media (min-width: 1200px) {
                .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .box-img .img-cover {
                  width: 43px;
                  height: 43px; } }
            @media (min-width: 1200px) {
              .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .box-img {
                padding: 4px; } }
          .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap {
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 5px;
            justify-content: space-between; }
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .title {
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.3px; }
              @media (min-width: 1200px) {
                .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .title {
                  font-size: 14px !important; } }
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .detail-wrap p:first-child,
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .detail-wrap p:last-child {
              font-size: 18px !important;
              color: #92a6c6; }
              @media (min-width: 1200px) {
                .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .detail-wrap p:first-child,
                .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .detail-wrap p:last-child {
                  font-size: 14px !important; } }
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .detail-wrap .by,
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section .text-wrap .detail-wrap .price {
              color: #617c9c;
              font-weight: bold; }
          @media (min-width: 1200px) {
            .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .wrap-section {
              gap: 13px; } }
        .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .dot-wrap {
          display: flex;
          align-items: center;
          gap: 6px;
          background-color: #fff;
          align-self: baseline;
          margin-top: 3px; }
          .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .dot-wrap .dot {
            border-radius: 50%;
            border: 2px solid #dce4f4; }
          .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .dot-wrap p {
            background-color: unset !important;
            box-shadow: unset;
            font-weight: bold;
            font-size: 16px; }
            @media (min-width: 1200px) {
              .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card .dot-wrap p {
                font-size: 10px; } }
        @media (min-width: 1200px) {
          .content-all-section .Dashboard-page .RecentAction-cover .RecentAction-button-cover .RecentAction-card {
            flex-direction: row; } }
  @media (min-width: 768px) {
    .content-all-section .Dashboard-page {
      margin-top: 67px;
      padding-top: 15px; }
      .content-all-section .Dashboard-page .change-position {
        flex-direction: column-reverse; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      .content-all-section .Dashboard-page .change-position {
        flex-direction: row; } }
  @media (min-width: 992px) {
    .content-all-section .Dashboard-page {
      margin-top: 68px; } }
  @media (min-width: 1200px) {
    .content-all-section .Dashboard-page {
      margin-top: 65px; } }

.content-all-section .Browse-Companies {
  display: none;
  margin-top: 75px; }
  .content-all-section .Browse-Companies .title-Browse-Companies h1 {
    font-family: Ubuntu-bold; }
  .content-all-section .Browse-Companies .AllCompany {
    display: flex;
    align-items: center;
    gap: 10px; }
    .content-all-section .Browse-Companies .AllCompany i {
      color: #92a6c6; }
  .content-all-section .Browse-Companies .wrapperBox-company {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-bottom: 40px; }
    .content-all-section .Browse-Companies .wrapperBox-company .box-company {
      width: 340px;
      height: 280px;
      border: 2px solid #dce4f4;
      border-radius: 25px;
      background-color: #fff;
      margin: 30px 0px 0px 0px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      cursor: pointer; }
      .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top {
        width: 100%;
        height: 175px;
        border-radius: 25px;
        position: relative;
        box-shadow: #dce4f4 0px 10px 36px 0px, #dce4f4 0px 0px 0px 1px; }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top img {
          width: 70px;
          position: absolute;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) !important; }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-star {
          display: flex;
          justify-content: center;
          gap: 3px;
          position: absolute;
          align-items: center;
          border-radius: 6px;
          width: 90px;
          height: 35px;
          top: 18%;
          left: 16%;
          transform: translate(-50%, -50%);
          background-color: #ffce04; }
          @media (min-width: 1200px) {
            .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-star {
              height: 30px;
              width: 75px; } }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-star i {
            color: #000; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-star i {
                font-size: 10px; } }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-star p {
            font-size: 18px;
            font-family: Ubuntu-bold;
            color: #000; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-star p {
                font-size: 14px !important; } }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-admin {
          display: flex;
          justify-content: center;
          gap: 3px;
          position: absolute;
          align-items: center;
          border-radius: 6px;
          width: 90px;
          height: 35px;
          top: 18%;
          left: 16%;
          transform: translate(-50%, -50%);
          background-color: #bbe3fa; }
          @media (min-width: 1200px) {
            .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-admin {
              height: 30px;
              width: 75px; } }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-admin i {
            color: #000; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-admin i {
                font-size: 10px; } }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-admin p {
            font-size: 18px;
            font-family: Ubuntu-bold;
            color: #000; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-admin p {
                font-size: 14px !important; } }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-user {
          display: flex;
          justify-content: center;
          gap: 3px;
          position: absolute;
          align-items: center;
          border-radius: 6px;
          width: 90px;
          height: 35px;
          top: 18%;
          left: 16%;
          transform: translate(-50%, -50%);
          border: 1px solid #dce4f4;
          background-color: #fff; }
          @media (min-width: 1200px) {
            .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-user {
              height: 30px;
              width: 75px; } }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-user i {
            color: #dce4f4; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-user i {
                font-size: 10px; } }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-user p {
            font-size: 18px;
            font-family: Ubuntu-bold;
            color: #000; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .tag-user p {
                font-size: 14px !important; } }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .option-cover {
          border: 1px solid #fff;
          position: absolute;
          display: flex;
          align-items: center;
          height: 20px;
          border-radius: 4px;
          top: 18%;
          right: 4%;
          transform: translate(-50%, -50%); }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .option-cover a {
            padding: 0px 6px; }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .option-cover i {
            color: #92a6c6; }
            @media (min-width: 1200px) {
              .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .option-cover i {
                font-size: 12px; } }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .box-top .option-cover:hover {
          border: 1px solid #92a6c6; }
      .content-all-section .Browse-Companies .wrapperBox-company .box-company .text-wrap {
        align-self: center;
        margin-top: 25px; }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .text-wrap p:first-child {
          font-size: 20px;
          text-align: center;
          font-family: Ubuntu-bold; }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .text-wrap p:last-child {
          font-family: Ubuntu-bold;
          color: #92a6c6; }
      .content-all-section .Browse-Companies .wrapperBox-company .box-company .active-btn {
        display: flex;
        border-radius: 35px;
        border: 1px solid #dce4f4;
        padding: 3px 6px;
        align-items: center;
        position: absolute;
        background: #fff;
        top: 47%;
        left: 50%;
        transform: translate(-50%, 88%);
        z-index: 45;
        gap: 5px;
        display: none; }
        .content-all-section .Browse-Companies .wrapperBox-company .box-company .active-btn .correct-cover {
          position: relative;
          background-color: #12b785;
          border-radius: 50%;
          width: 18px;
          height: 18px; }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .active-btn .correct-cover i {
            color: #fff;
            position: absolute;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) !important; }
          .content-all-section .Browse-Companies .wrapperBox-company .box-company .active-btn .correct-cover p {
            font-size: 16px;
            font-family: Ubuntu-bold; }
      @media (min-width: 1200px) {
        .content-all-section .Browse-Companies .wrapperBox-company .box-company {
          width: 300px; } }
    .content-all-section .Browse-Companies .wrapperBox-company .box-company:hover {
      border-color: #12b785; }
    .content-all-section .Browse-Companies .wrapperBox-company .box-company:focus {
      border-color: #12b785; }
      .content-all-section .Browse-Companies .wrapperBox-company .box-company:focus .active-btn {
        display: flex !important; }
    .content-all-section .Browse-Companies .wrapperBox-company .active {
      border-color: #12b785; }
      .content-all-section .Browse-Companies .wrapperBox-company .active .active-btn {
        display: flex !important; }

@media (min-width: 768px) {
  .content-all-section {
    padding-left: 98px;
    transition-duration: 0.3s; } }
