button {
    border: 0px;
    background-color: unset;
    padding: 0px;
}

#setting {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        background-color: var(--primary);
        box-shadow: var(--primary) 0px 25px 50px -12px;
        padding: 10px 0px 20px 0px;
        border-radius: 13px;
        position: absolute;
        inset: unset !important;
        top: 66px !important;
        transform: unset !important;
        right: -7px !important;

        a {
            padding: 9px 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }
        a:hover,
        a:focus {
            color: $white;
            background: var(--primary);

            p,
            i {
                color: $white;
            }
        }
        i {
            color: var(--secondary);
            padding: 0px;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 11px;
            }
        }
        p {
            color: var(--secondary);
            font-size: 18px;
            padding: 0px;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px;
            }
        }
        li:last-child {
            padding: 0px 10px;

            form {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-top: 16px;
                padding: 10px 14px;
                background-color: var(--secondary);
                border-radius: 9px;
                input[type="radio"] {
                    appearance: none;
                    padding: 0px;
                    margin: 0px;
                    width: 20px;
                    height: 20px;
                    outline: 2px solid var(--radio-color);
                    outline-offset: 2px;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index: 100;
                    background-color: var(--radio-color);
                }
                input[type="radio"]:checked {
                    background-color: var(--radio-color);
                }

                input[type="radio"]#blue-theme {
                    --radio-color: #0d0368;
                }
                input[type="radio"]#blueYellow-theme {
                    --radio-color: #22668d;
                }
                input[type="radio"]#pink-theme {
                    --radio-color: #ff5858;
                }
                input[type="radio"]#black-theme {
                    --radio-color: #1f1f1f;
                }
                input[type="radio"]#yellow-theme {
                    --radio-color: #7d6e83;
                }
            }
        }

        @media (min-width: $breakpoint-extralarge) {
            top: 53px !important;
        }
    }
    .dropdown-menu::before {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid var(--primary);
        top: -8px;
        right: 20.9px;
    }
}
//setting button
.square-cover {
    @include circleCover();
    border-radius: 12px !important;
    i {
        position: absolute;
        @include AbsoluteCenter;
        padding: 13px;
        object-fit: cover;
        text-align: center;
        color: $black;
        font-size: 16px;
        @include fontAdjustforExtralarge();
    }
    @media (min-width: $breakpoint-extralarge) {
        width: 40px;
        height: 40px;
        border-radius: 9px;
    }
}

#profile-img {
    height: 50px;
    width: 50px;

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu::before {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid var(--primary);
        top: -10px;
        right: 20.9px;
    }
    .dropdown-menu::after {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
        top: -7px;
        right: 21px;
    }
    .dropdown-menu {
        border-radius: 14px;
        border: 1px solid var(--primary);
        font-weight: bold;
        position: absolute;
        inset: 0px 0px auto auto;
        margin: 0px;
        background-color: $white;
        transform: unset !important;
        inset: unset !important;
        box-shadow:
            $info 1px 1px 6px 1px,
            $info 0px 18px 36px -18px;
        top: 67px !important;
        right: -5px !important;

        a {
            font-weight: bold;
            font-size: 18px;
            @include fontAdjustforExtralarge();
        }
    }
    @include mediaTabletNone();
}

.circle-cover-collape {
    @include circleCover();
    @include mediaTabletNone();
    overflow: hidden;
    img {
        position: absolute;
        width: 42px;
        object-fit: cover;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: $breakpoint-extralarge) {
            width: 34px;
        }
    }
}

.circle-cover {
    @include circleCover();
    overflow: hidden;
    img {
        position: absolute;
        width: 42px;
        object-fit: cover;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: $breakpoint-extralarge) {
            width: 34px;
        }
    }
}

#profile-img-2 {
    height: 50px;
    width: 50px;

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu::before {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid var(--primary);
        top: -10px;
        left: 20px;
    }
    .dropdown-menu::after {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
        top: -7px;
        left: 21.2px;
    }
    .dropdown-menu {
        border-radius: 14px;
        border: 1px solid var(--primary);
        font-weight: bold;
        position: absolute;
        background-color: $white;
        inset: 0px 0px auto auto;
        margin: 0px;
        box-shadow:
            var(--secondary) 1px 1px 6px 1px,
            var(--secondary) 0px 18px 36px -18px;
        transform: translate3d(-9px, 62px, 0px) !important;

        a {
            font-weight: bold;
            font-size: 18px;
            @include fontAdjustforExtralarge();
        }
    }
}

#switchDropdown {
    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        background-color: var(--primary);
        position: absolute;
        inset: 0px 0px auto auto;
        margin: 0px;
        border-radius: 14px;
        transform: unset !important;
        inset: unset !important;
        top: 37px !important;
        right: -19px !important;
        width: 230px !important;
        padding: 0px;
        box-shadow: $boxShadow;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--primary);

            .wrapIcon-text {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            a {
                color: $white;
                width: unset;
                width: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 20px;
            }
            a:hover {
                background-color: unset;
            }
            .cover-logo {
                background-color: $dark;
                display: flex;
                width: 40px;
                height: 40px;
                border-radius: 7px;
                position: relative;
                p {
                    color: var(--infoDark);
                    @include AbsoluteCenter();
                    letter-spacing: 2px;
                    font-weight: bold;
                    font-size: 17px;
                }
                img {
                    width: 30px;
                    @include AbsoluteCenter();
                }
            }
            .text-cover {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                > p:last-child {
                    font-size: 18px;
                    color: var(--secondary);
                    @media (min-width: $breakpoint-extralarge) {
                        font-size: 12px;
                    }
                }
                .wrap-text {
                    display: flex;
                    gap: 4px;
                    align-items: baseline;

                    p:nth-child(2) {
                        font-size: 12px;
                        color: $successLight;
                    }
                    p:first-child {
                        color: $white;
                        @media (min-width: $breakpoint-extralarge) {
                            font-size: 15px;
                        }
                    }
                    p:first-child:hover {
                        background-color: unset;
                    }
                }
            }
        }

        li:hover {
            background-color: $dark;
        }

        li:first-child:hover {
            background-color: $dark;
            border-radius: 14px 14px 0px 0px;
        }
        li:last-child {
            border: 0px;
        }
        li:last-child:hover {
            background-color: $dark;
            border-radius: 0px 0px 14px 14px;
        }
        .list-dropdown-last {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            p:first-child {
                color: $white;
                @media (min-width: $breakpoint-extralarge) {
                    font-size: 12px;
                }
            }
            i {
                color: $light;
                position: relative;
            }
            .block {
                position: absolute;
                top: 50%;
                width: 3px;
                height: 4px;
                left: 38%;
                transform: translate(-50%, -50%);
                background-color: var(--primary);
            }
        }
        @media (min-width: $breakpoint-large) {
            top: 46px !important;
            right: -180px !important;
        }
        @media (min-width: $breakpoint-extralarge) {
            width: 211px !important;
            right: -159px !important;
        }
    }
    .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -7px;
        right: 22px;
        width: 0px;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 10px solid var(--primary);
        border-radius: 16px;
        @media (min-width: $breakpoint-large) {
            left: 28px;
        }
    }
    .active {
        background-color: unset;

        .checked {
            display: block !important;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: $success;
            position: relative;
        }
    }
    .checked {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $success;
        position: relative;
        display: none;

        i {
            text-align: center;
            color: $white;
            font-size: 18px;
            @include AbsoluteCenter();
        }
    }
}

.switch-btn {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    outline: 2px solid var(--secondary);
    border-radius: 5px;
    box-shadow: $boxShadow;
    align-self: center;
    img {
        @include AbsoluteCenter();
        width: 15px;
        text-align: center;
        align-items: center;
    }
    @media (min-width: $breakpoint-extralarge) {
        width: 22px;
        height: 22px;
    }
}
.switch-btn:focus {
    outline: 2px solid var(--primary) !important;
}

// mail
#mail {
    height: 52px;

    .dropdown-menu {
        border: 1px solid $info;
        border-radius: 8px;
        padding: 0px;
        box-shadow: $boxShadow;
        position: absolute !important;
        inset: unset !important;
        margin: 0px !important;
        transform: unset !important;
        top: 71px !important;
        right: -11px !important;
        position: relative;

        li {
            padding: 0px;
            .dropdown-item {
                display: flex;
                gap: 14px;
                z-index: 400;
                padding: 16px 24px;
                align-items: center;

                .main-img-cover {
                    border: 2px solid var(--secondary);
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    position: relative;
                    box-shadow:
                        $info 1px 1px 6px 1px,
                        $info 0px 18px 36px -18px;

                    img {
                        width: 51px;
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @media (min-width: $breakpoint-extralarge) {
                            width: 42px;
                        }
                    }
                    @media (min-width: $breakpoint-extralarge) {
                        width: 50px;
                        height: 50px;
                    }
                }
                > p {
                    font-family: $font-bold;
                    @media (min-width: $breakpoint-extralarge) {
                        font-size: 14px;
                    }
                }
                > i {
                    font-size: 16px;
                    color: var(--secondary);
                }

                .text-wrap {
                    width: 70%;
                    .profile-name {
                        font-family: $font-bold;
                        @media (min-width: $breakpoint-extralarge) {
                            font-size: 14px;
                        }
                    }

                    .text-wrapLink-span {
                        display: flex;
                        align-items: center;

                        p {
                            color: var(--primary);
                            letter-spacing: 1px;
                            font-weight: bold;
                            @media (min-width: $breakpoint-extralarge) {
                                font-size: 11px;
                            }
                        }
                        .link-tag {
                            color: var(--infoDark);
                        }
                        .time {
                            color: var(--secondary);
                        }
                    }
                }
                @media (min-width: $breakpoint-extralarge) {
                    padding: 12px 24px;
                }
            }
            a:hover {
                background-color: $light;
            }
            .addition {
                justify-content: space-between;
            }
        }
        li:not(:last-child) {
            border-bottom: 2px solid $light;
        }

        li:first-child {
            a:hover {
                border-radius: 8px 8px 0px 0px;
            }
            .dropdown-item {
                p::before {
                    position: absolute;
                    top: -10px;
                    right: 25px;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-bottom: 10px solid $info;
                    @media (min-width: $breakpoint-tablet) {
                        left: 14px;
                    }
                }
                p::after {
                    position: absolute;
                    top: -8px;
                    right: 25px;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-bottom: 11px solid $white;
                    @media (min-width: $breakpoint-tablet) {
                        left: 14px;
                    }
                }
            }

            p::after {
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 11px solid $light;
            }
        }
        li:last-child {
            a:hover {
                border-radius: 0px 0px 8px 8px;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            right: -232px !important;
        }
        @media (min-width: $breakpoint-extralarge) {
            top: 53px !important;
        }
    }
    .dropdown-menu:active {
        background-color: $white;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        width: 280px;
    }

    a:active {
        .profile-name {
            color: $black;
        }
    }
    @media (min-width: $breakpoint-extralarge) {
        height: 42px;
    }
}
.wrapLink-circle-cover {
    @include circleCover();
    .notice {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -5px;
        top: -7px;
        border-radius: 50%;
        background-color: $danger;
        p {
            position: absolute;
            right: 5px;
            top: -2px;
            color: $white;
            text-align: center;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 10px;
                line-height: 21px;
            }
        }
        @media (min-width: $breakpoint-extralarge) {
            width: 16px;
            height: 16px;
            right: 0px;
            top: -7px;
        }
    }
    a {
        @include AbsoluteCenter();
        object-fit: cover;
        text-align: center;
        padding: 13px;
        color: var(--primary);
        i {
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px;
            }
        }
    }
}

// bell
.wrapLink-circle-cover:nth-child(2) {
    .notice {
        position: absolute;
        width: 10px;
        height: 10px;
        right: 3px;
        top: 0;
        border-radius: 50%;
        background-color: $purple;
        outline: 2px solid $white;
        @media (min-width: $breakpoint-extralarge) {
            width: 8px;
            height: 8px;
            top: -1px;
        }
    }
}

.wrapLink-circle-cover-collape {
    @include circleCover();
}

//create button
.wrap-search-btn {
    .create-btn {
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 9px;
        border: 2px solid var(--primary);
        padding: 12px 25px;
        justify-content: center;
        background-color: $white;
        width: 100%;
        align-self: center;
        height: 46px;
        p {
            color: var(--primary);
            font-size: 18px;
            font-family: $font-bold;
            @media (min-width: $breakpoint-large) {
                font-size: 14px;
            }
        }
        i {
            font-size: 16px;
            color: var(--secondary);
            @media (min-width: $breakpoint-large) {
                font-size: 13px;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            width: unset;
        }
        @media (min-width: $breakpoint-large) {
            padding: 10px 20px;
        }
        @media (min-width: $breakpoint-extralarge) {
            height: 37px;
        }
    }
    .create-btn:hover {
        background-color: var(--primary);
        p {
            color: $white;
        }
    }
}

#DocsType,
#RecentAction {
    .dropdown-menu {
        background-color: $white;

        li{
            a:focus{
                background-color: unset;
                color: unset;
            }
        }
    }
    button {
        border-radius: 8px;
        display: flex !important;
        justify-content: space-between;
        background-color: var(--secondary);
        align-items: center;
        gap: 4px;
        padding: 8px;
        p {
            font-size: 18px;
            color: var(--primary);
            font-family: $font-bold;
            @include fontAdjustforExtralarge();
        }
        i {
            color: var(--primary);
            @media (min-width: $breakpoint-extralarge) {
                font-size: 10px;
            }
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
}

#company-dropdown {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        border-radius: 14px;
        border: 2px solid var(--secondary);
        z-index: 70;
        padding: 5px 30px;
        transform: unset !important;
        right: -14px !important;
        top: 25px !important;
        background-color: $white;
        position: relative;

        a {
            padding: 4px 10px;
            display: flex;
            align-items: center;
            margin: 0px;
            justify-content: flex-start;
            gap: 6px;
        }
        a:hover {
            background-color: $white;
            opacity: 0.6;
        }
        p {
            font-family: $font-bold;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px;
            }
        }
        i {
            color: var(--secondary);
        }
    }
    .dropdown-menu::before {
        position: absolute;
        top: -11px;
        right: 14px;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--secondary);
    }
    .dropdown-menu::after {
        position: absolute;
        top: -8px;
        right: 14px;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;
    }
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 30px;
    z-index: 500;
    .switch-label {
        width: 56%;
        height: 30px;
        background-color: var(--primary);
        border-radius: 25px;
        cursor: pointer;
        border: 3px solid var(--infoDark);
        @include AbsoluteCenter();
        .checkbox {
            position: absolute;
            display: none;
        }
        .checkbox:checked {
            ~ .slider {
                background-color: $light;
            }
            ~ .slider::before {
                -webkit-transform: translateX(50px);
                -ms-transform: translateX(50px);
                transform: translateX(26px);
                background-color: var(--primary);
                -webkit-box-shadow: none;
                box-shadow: none;
                @media (min-width: $breakpoint-tablet) {
                    transform: translateX(15px);
                }
                @media (min-width: $breakpoint-extralarge) {
                    transform: translateX(23px);
                }
            }
        }
        .slider {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            z-index: 500;
        }
        .slider::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 3px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            -webkit-box-shadow: inset 12px -4px 0px 0px $light;
            box-shadow: inset 12px -4px 0px 0px $light;
            background-color: var(--primary);
            -webkit-transition: 0.3s;
            transition: 0.3s;
            @media (min-width: $breakpoint-extralarge) {
                height: 16px;
                width: 16px;
                top: 3px;
                box-shadow: inset 6px -4px 0px 0px $light;
            }
        }
        @media (min-width: $breakpoint-extralarge) {
            height: 24px;
            border: 1px solid var(--infoDark);
        }
    }
    @media (min-width: $breakpoint-tablet) {
        width: 83px;
    }
}

.alert-adjust {
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-top: 60px;
    background-color: var(--secondary);
    .alert-content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        .wrapper-alert {
            display: flex;
            align-items: center;
            .cover-text {
                width: 88%;
                font-size: 18px;
                .getUnderline {
                    text-decoration: revert;
                }
                @media (min-width: $breakpoint-extralarge) {
                    font-size: 13px !important;
                }
            }
            .btn-alertAdjust {
                background-color: $danger;
                box-shadow: $danger -1px 1px 6px 0px;
                opacity: 1;
                --bs-btn-close-color: $white;
                background-image: unset;
                padding: 6px;
                position: relative;
                width: 28px;
                height: 28px;
                p {
                    color: $white;
                    font-size: 20px;
                    @include AbsoluteCenter();
                    @media (min-width: $breakpoint-extralarge) {
                        font-size: 10px;
                        height: 17px;
                    }
                }
                @media (min-width: $breakpoint-extralarge) {
                    width: 10px;
                    height: 10px;
                }
            }
            .btn-alertAdjust:hover {
                opacity: 0.75;
            }
            @media (min-width: $breakpoint-tablet) {
                justify-content: space-between;
            }
            @media (min-width: $breakpoint-large) {
                width: 100%;
            }
        }
        .btn-bill {
            font-size: 16px;
            padding: 4px 10px;
            box-shadow: var(--primary) -1px 1px 6px 0px;
            border: 0px;
            color: $white;
            background-color: var(--primary);
            @media (min-width: $breakpoint-extralarge) {
                font-size: 12px;
            }
        }
        .btn-bill:hover {
            background-color: var(--primary);
        }
        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        @media (min-width: $breakpoint-large) {
            justify-content: flex-start;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        margin-top: 30px;
    }
}

.btn-menu {
    i {
        font-size: 27px;
    }
    @include mediaTabletNone();
}

.menuOpen,
.menuClose {
    width: 30px;
    align-items: center;
    i {
        font-size: 21px;
        color: var(--secondary);
        @include mediaLargeNone();
        @media (min-width: $breakpoint-tablet) {
            font-size: 30px;
        }
    }
    @include mediaLargeNone();
}

.btn-menu-side-mobile {
    border-radius: 5px 0px 0px 5px;
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    border: 1px solid $info;
    padding: 0px;
    z-index: 10;
    position: relative;
    i {
        color: $white;
        font-size: 18px;
        width: 18px;
        height: 18px;
        @include AbsoluteCenter();
    }
    @media (min-width: $breakpoint-extralarge) {
        width: 24px;
        height: 24px;
    }
}

.btn-menu-side {
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $info;
    padding: 0px;
    z-index: 10;
    position: relative;
    @media (min-width: $breakpoint-extralarge) {
        width: 24px;
        height: 24px;
    }
}

//overview btn
.Overview-bg {
    ul {
        margin: 0px;
        border-radius: 35px;
        background-color: $light;
        border: 1px solid var(--secondary);
        gap: 2px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 25px;
        li {
            align-self: center;
            a {
                font-size: 16px;
                padding: 4px 11px;
                vertical-align: middle;
                color: var(--primary);
                font-family: $font-bold;
                @media (min-width: $breakpoint-tablet) {
                    padding: 7px 19px;
                }
                @media (min-width: $breakpoint-extralarge) {
                    font-size: 14px;
                    padding: 5px 19px;
                }
            }
            a:hover,
            .active {
                background-color: var(--active);
                color: $white;
                border-radius: 35px;
                box-shadow: var(--infoDark) 0px 1px 14px -2px;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            width: 350px;
            height: 40px;
            margin-left: auto;
        }
        @media (min-width: $breakpoint-extralarge) {
            height: 35px;
            padding: 0px 3px;
            width: 310px;
        }
    }
}

//Docs Types
.DocsType-card-cover {
    box-shadow: $boxShadow;
    width: 100%;
    background-color: $white;
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    .cover-detail {
        display: flex;
        align-items: center;
        width: 80%;
        gap: 17px;
        .text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            p:first-child {
                font-family: $font-bold;
                text-align: left;
            }
            p:last-child {
                text-align: left;
                font-size: 16px;
                color: $tertiary-emphasis;
                @include fontAdjustforExtralarge();
            }
        }
    }
    .cover-icon {
        border: 1px solid $light;
        border-radius: 7px;
        width: 46px;
        height: 46px;
        background-color: $white;
        position: relative;
        i {
            color: $tertiary;
            font-size: 16px;
            position: absolute;
            @include AbsoluteCenter;
        }
    }
    > .cover {
        width: 80px;
        height: 54px;
        border: 1px dashed $tertiary;
        border-radius: 13px;
        position: relative;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            @include AbsoluteCenter;
            > p {
                font-size: 20px;
                color: $black;
                font-family: $font-bold;
                @include fontAdjustforExtralarge();
            }
            .wrap {
                display: flex;
                align-items: center;
                gap: 3px;
                i {
                    color: $tertiary;
                    @include fontAdjustforExtralarge();
                }
                p {
                    color: $tertiary;
                    font-size: 16px;
                    font-family: $font-bold;
                    @include fontAdjustforExtralarge();
                }
            }
        }
    }
}

//Recent action
.btn-recent {
    border-radius: 8px;
    color: $white;
    font-size: 18px;
    padding: 10px;
    margin-top: 15px;
    span {
        text-decoration: underline;
    }
    @media (min-width: $breakpoint-extralarge) {
        font-size: 14px;
    }
}

//Browse Companies Page
.AllCompany-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
    .join-com {
        border: 2px solid var(--primary);
        background-color: $white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        gap: 6px;

        i {
            color: var(--secondary);
            font-size: 16px;
            @include fontAdjustforExtralarge();
        }
        p {
            color: var(--primary);
            font-family: $font-bold;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            width: 198px;
            justify-content: center;
        }
    }
    .create-com {
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 10px;
        box-shadow: $boxShadow;
        background: var(--primary);

        i {
            color: var(--secondary);
            font-size: 16px;
            @include fontAdjustforExtralarge();
        }
        p {
            color: $white;
            font-size: 16px;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            width: 198px;
            justify-content: center;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        margin: 0;
        justify-content: flex-end;
    }
}

.collape-right-side {
    display: none;
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        position: fixed;
        justify-content: center;
        position: relative;
        background-color: var(--secondary);
        z-index: 10;
        button {
            width: 100%;
            padding: 15px;
            h2 {
                color: $white;
                position: relative;
            }

            i {
                font-size: 33px;
                position: absolute;
                top: 50%;
                right: 170px;
                transform: translate(-50%, -50%);
                color: $white;
            }
        }
    }
    @include mediaExtraLargeNone();
}
