/*  ! use for javascript */
.hide {
    display: none;
}

.show {
    display: block !important;
}

.none {
    display: none !important;
}

.disableScroll {
    height: 100%;
    overflow: hidden;
}

.cannotClick {
    pointer-events: none;
}

.btn-mini-Left {
    margin-left: auto;
   
    border-radius: 5px 0px 0px 5px !important;
}

.transform {
    transform: translate(0px, 273px) !important;

    @media (min-width: $breakpoint-tablet) {
        transform: translate(0px, 196px) !important;
    }
    @media (min-width: $breakpoint-large) {
        transform: unset !important;
    }
}

.reset-transform {
    transform: $tranformReset !important;
}

.content-all-section-movement {
    padding: auto;
    transition-duration: 0.3s;
    @media (min-width: $breapkoint-superExtralarge) {
        padding-left: 17.2% !important;
    }
}

.menu-cover-mini-width-extend {
    width: 280px !important;
    @media (min-width: $breakpoint-extralarge) {
        width: calc(100% - 83.3%) !important;
    }
}

.topic-tablet {
    display: none !important;
    @media (min-width: $breakpoint-tablet) {
        display: flex !important;
        width: 280px;
    }
    @media (min-width: $breakpoint-extralarge) {
        width: 100%;
    }
}
.topic-mobile {
    border-bottom: 1px solid $light;
    @media (min-width: $breakpoint-tablet) {
        display: none !important;
    }
}
.for-desktop {
    display: none !important;
}

.displayFlex {
    @media (min-width: $breakpoint-tablet) {
        display: flex !important;
    }
}

.text-side-mini {
    @media (min-width: $breakpoint-tablet) {
        display: none !important;
    }
}
.text-side-mini-show {
    @media (min-width: $breakpoint-tablet) {
        display: block !important;
        transition-duration: .3s;
    }
}
.side-menu-list-space-between {
    @media (min-width: $breakpoint-tablet) {
        justify-content: space-between !important;
        transition-duration: .3s;
    }
}
.btn-submenu-mini {
    @include mediaTabletNone;
}

.for-mobile {
    @include mediaExtraLargeNone();
}
.for-desktop {
    @media (min-width: $breakpoint-extralarge) {
        display: flex !important;
    }
}


