// dot
.dot {
    font-size: 10px;
    border-radius: 50%;
    @media (min-width: $breakpoint-extralarge) {
        font-size: 5px;
    }
}

// line break
.line-break {
    border-bottom: 1px solid $gray;
    position: relative;
    .line-break-blue {
        height: 4px;
        width: 44px;
        border-radius: 35px;
        background-color: $infoDark;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}

// breadcrumb
.breadcrumb {
    li {
        a,
        a::before {
            font-size: 16px;
            color: $tertiary;
            i {
                color: $tertiary;
            }

            @include fontAdjustforExtralarge();
        }
    }
    .active {
        color:$primary;
        font-size: 16px;
        margin: 0px;
        font-family: $font-bold;
        i {
            color: $primary !important;
            font-size: 16px;
            margin: 0px;
            font-family: $font-bold;
            @include fontAdjustforExtralarge();
        }
        @media (min-width: $breakpoint-extralarge) {
            font-size: 13px;
            line-height: 25px;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        justify-content: flex-end;
        margin: 0px;
    }
}
