/* * side bar */
.menu-cover {
    width: 300px;
    background-color: var(--primary);
    position: fixed;
    padding: 0px !important;
    z-index: 200;
    top: 0px;
    left: -600px;
    display: none;
    transition-duration: 0.5s;
    box-shadow: $boxShadow;
    border: 1px solid var(--secondary);
    .side-content {
        overflow: auto;
        height: calc(100vh - 91px);
        .head-title {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 35px;
            justify-content: space-between;
            padding: 0px 0px 0px 20px;

            .cover-title {
                position: relative;
                z-index: 20;
                h4 {
                    border: 1px dashed var(--secondary);
                    text-align: center;
                    font-size: 16px;
                    color: var(--secondary);
                    margin: 0px;
                    padding: 5px;
                    border-radius: 6px;
                    width: 100px;
                    z-index: 20;
                    background-color: var(--primary);
                }
            }
            .line {
                width: 100%;
                border-top: 1px dashed var(--secondary);
                position: absolute;
                height: 1px;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .side-menu-list {
            > ul {
                padding: 20px;
                li {
                    margin-bottom: 6px;
                    border-radius: 10px;
                    .cover-icon,
                    .cover-icon-2 {
                        i {
                            color: var(--secondary);
                            font-size: 18px;
                            @include AbsoluteCenter();
                        }
                        .wrap {
                            i {
                                color: var(--secondary);
                            }
                        }
                    }

                    a {
                        border-radius: 10px;
                        display: flex;
                        padding: 15px;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        .wrap {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            i {
                                color: var(--secondary);
                            }
                        }
                    }
                    a:hover {
                        background-color: var(--dark) ;
                        border-radius: 6px;
                        p {
                            color: $white;
                        }
                    }
                    .active-link {
                        background-color: var(--dark) ;
                        border-radius: 6px;
                        color: $white;
                        .wrap {
                            p {
                                color: $white;
                            }
                            i {
                                color: var(--secondary);
                            }
                        }
                        p {
                            border-radius: 13px;
                            color: $white;
                        }
                    }
                    .wrap {
                        p {
                            color: var(--secondary);
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .cover-icon,
                    .cover-icon-2 {
                        background-color: var(--secondary);
                        position: relative;
                        border-radius: 6px;
                        padding: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .Dashboard-btn {
                    a {
                        display: flex;
                        padding: 15px;
                        align-items: center;
                        width: 100%;
                        border-radius: 10px;
                        justify-content: space-between;
                        .wrap {
                            i {
                                color: var(--secondary);
                            }
                            p {
                                color: $white;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }
                        .cover-icon {
                            i {
                                color: $white;
                                font-size: 18px;
                                @include AbsoluteCenter();
                            }
                        }
                    }
                    a:hover,
                    .active-link {
                        border-radius: 10px !important;
                        background-color: var(--primary) - 30%;
                    }
                }
                .Dashboard-btn:first-child {
                    border-radius: 10px;
                    margin-bottom: 15px;
                    background: var(--primaryRadient);
                }
                .multiple {
                    border: 1px solid var(--primary);
                    .sub-menu {
                        position: relative;
                        background-color: $dark;
                        border-radius: 0px 0px 6px 6px;
                        display: none;
                        li {
                            padding: 7px 35px;
                            a {
                                display: flex;
                                list-style: initial;
                                padding: 6px;
                                align-items: center;
                                width: 100%;
                                justify-content: space-between;
                                position: relative;
                                color: var(--secondary);
                                font-weight: bold;
                            }
                            a:before {
                                content: "•";
                                position: absolute;
                                left: -20px;
                                font-size: 20px;
                            }
                            a:hover {
                                color: $white;
                                background-color: unset;
                            }
                            a:hover:before,
                            .active-link-sub:before {
                                color: $info;
                            }
                            .active-link-sub {
                                background-color: unset;
                                color: $white;
                            }
                        }
                        li:last-child {
                            margin-bottom: 0px !important;
                        }
                    }
                    .link-open-submenu {
                        .active-link {
                            border-bottom: 1px solid var(--primary);
                            background-color: $dark !important;
                            .cover-icon-2 {
                                background-color: var(--primary);
                            }
                        }
                        .cover-icon-2 {
                            background-color: var(--primary);
                        }
                    }
                    .active-link-user {
                        border-radius: 6px 6px 0px 0px !important;
                        background-color: $dark !important;
                        border-bottom: 1px solid var(--primary);
                        p {
                            color: $white !important;
                        }
                    }
                }
            }
        }
        .footer-menu {
            padding: 20px;
            .bg-ul {
                background-color: $dark;
                border-radius: 13px;
                li {
                    a {
                        display: flex;
                        padding: 10px 30px;
                        gap: 10px;
                        align-items: center;
                        i,
                        p {
                            color: var(--secondary);
                        }
                    }
                    a:hover {
                        i,
                        p {
                            color: $white;
                        }
                    }
                }
            }
        }
        .copyright {
            display: flex;
            justify-content: center;
            color: var(--secondary);
            font-size: 16px;
            padding: 0px 20px 20px 20px;
        }
    }
    .side-content::-webkit-scrollbar {
        display: none;
    }
    .side-content-mobile {
        display: block;
        @include mediaTabletNone();
    }
}

.menu-cover-mini {
    
    display: none;
    width: 85px;
    background-color: var(--primary);
    position: fixed;
    padding: 0px !important;
    margin-top: 80px;
    top: 0px;
    z-index: 40;
    transition-duration: 0.3s;
    border: 1px solid var(--secondary);

    .side-content {
        overflow: auto;
        height: calc(100vh - 91px);
        .head-title {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 35px;
            justify-content: center;

            .cover-title {
                position: relative;
                z-index: 20;
                h4 {
                    border: 1px dashed var(--secondary);
                    text-align: center;
                    font-size: 16px;
                    color: var(--secondary);
                    margin: 0px;
                    padding: 5px;
                    border-radius: 6px;
                    width: 100px;
                    z-index: 20;
                    background-color: var(--primary);
                    @media (min-width: $breakpoint-extralarge) {
                        font-size: 12px;
                        padding: 4px;
                        width: 88px;
                    }
                }
                @media (min-width: $breakpoint-tablet) {
                    position: absolute;
                    left: 22px;
                    display: none;
                }
                @media (min-width: $breakpoint-extralarge) {
                    left: 13px;
                }
            }
            .line {
                width: 100%;
                border-top: 1px dashed var(--secondary);
                position: absolute;
                height: 1px;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            i {
                color: $white;
                font-size: 18px;
                width: 18px;
                height: 18px;
               
                @include AbsoluteCenter();
                @media (min-width: $breakpoint-extralarge) {
                    font-size: 15px;
                    height: unset;
                }
            }
        }
        .side-menu-list {
            > ul {
                padding: 20px;
                li {
                    margin-bottom: 6px;
                    border-radius: 10px;
                    .cover-icon,
                    .cover-icon-2 {
                        i {
                            color: var(--secondary);
                            font-size: 18px;
                            @include AbsoluteCenter();
                            @include fontAdjustforExtralarge();
                        }
                        .wrap {
                            i {
                                color: var(--secondary);
                            }
                            @media (min-width: $breakpoint-tablet) {
                                gap: 17px;
                            }
                            @media (min-width: $breakpoint-extralarge) {
                                font-size: 14px;
                            }
                        }
                    }

                    a {
                        border-radius: 10px;
                        display: flex;
                        padding: 15px;
                        align-items: center;
                        width: 100%;
                        justify-content: center;
                        .wrap {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            i {
                                color: var(--secondary);
                            }
                        }
                        @media (min-width: $breakpoint-extralarge) {
                            padding: 13px 15px;
                            border-radius: 10px;
                        }
                    }
                    a:hover {
                        background-color: var(--dark) ;
                        border-radius: 6px;
                        p {
                            color: $white;
                        }
                    }
                    .active-link {
                        background-color: var(--dark) !important;
                        border-radius: 6px;
                        color: $white;
                        .wrap {
                            p {
                                color: $white;
                            }
                            i {
                                color: var(--secondary);
                            }
                        }
                        p {
                            border-radius: 13px;
                            color: $white;
                        }
                    }
                    .wrap {
                        p {
                            color: var(--secondary);
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                        @media (min-width: $breakpoint-tablet) {
                            gap: 17px;
                        }
                        @media (min-width: $breakpoint-extralarge) {
                            gap: 10px;
                            font-size: 13px;
                        }
                    }
                    .cover-icon,
                    .cover-icon-2 {
                        background-color: var(--secondary);
                        position: relative;
                        border-radius: 6px;
                        padding: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .Dashboard-btn {
                    a {
                        display: flex;
                        padding: 15px;
                        align-items: center;
                        width: 100%;
                        border-radius: 10px;
                        justify-content: space-between;
                        .wrap {
                            i {
                                color: var(--secondary);
                            }
                            p {
                                color: $white;
                                font-weight: bold;
                                letter-spacing: 1px;
                                @media (min-width: $breakpoint-extralarge) {
                                    font-size: 12px;
                                }
                            }
                        }
                        .cover-icon {
                            i {
                                color: $white;
                                font-size: 18px;
                                @include AbsoluteCenter();
                                @include fontAdjustforExtralarge();
                            }
                        }
                        @media (min-width: $breakpoint-tablet) {
                            justify-content: center;
                        }
                        @media (min-width: $breakpoint-extralarge) {
                            padding: 13px 15px;
                            border-radius: 6px;
                        }
                    }
                    a:hover,
                    .active-link {
                        border-radius: 10px !important;
                    }
                }
                .Dashboard-btn:first-child {
                    border-radius: 10px;
                    margin-bottom: 15px;
                    background: var(--primaryRadient);
                }
                .multiple {
                    border: 1px solid var(--primary);
                    .sub-menu {
                        position: relative;
                        background-color: $dark;
                        border-radius: 0px 0px 6px 6px;
                        display: none;
                        li {
                            padding: 7px 35px;
                            a {
                                display: flex;
                                list-style: initial;
                                padding: 6px;
                                align-items: center;
                                width: 100%;
                                justify-content: space-between;
                                position: relative;
                                color: var(--secondary);
                                font-weight: bold;
                                @include fontAdjustforExtralarge();
                            }
                            a:before {
                                content: "•";
                                position: absolute;
                                left: -20px;
                                font-size: 20px;
                            }
                            a:hover {
                                color: $white;
                                background-color: unset;
                            }
                            a:hover:before,
                            .active-link-sub:before {
                                color: $info;
                            }
                            .active-link-sub {
                                background-color: unset;
                                color: $white;
                            }
                            @media (min-width: $breakpoint-extralarge) {
                                padding: 0px 43px;
                            }
                        }
                        li:first-child {
                            @media (min-width: $breakpoint-extralarge) {
                                padding-top: 10px;
                            }
                        }
                        li:last-child {
                            margin-bottom: 0px !important;
                            @media (min-width: $breakpoint-extralarge) {
                                padding-bottom: 13px;
                            }
                        }
                    }
                    .link-open-submenu {
                        .active-link {
                            border-bottom: 1px solid var(--primary);
                            background-color: $dark !important;
                            .cover-icon-2 {
                                background-color: var(--primary);
                            }
                        }
                        .cover-icon-2 {
                            background-color: var(--primary);
                        }
                    }
                    .active-link-user {
                        border-radius: 6px 6px 0px 0px !important;
                        background-color: $dark !important;
                        border-bottom: 1px solid var(--primary);
                        p {
                            color: $white !important;
                        }
                    }
                }
            }
        }
        .footer-menu {
            padding: 20px;
            .bg-ul {
                background-color: $dark;
                border-radius: 13px;
                li {
                    a {
                        display: flex;
                        padding: 10px 30px;
                        gap: 10px;
                        align-items: center;
                        i,
                        p {
                            color: var(--secondary);
                            @include fontAdjustforExtralarge();
                        }
                        @media (min-width: $breakpoint-tablet) {
                            padding: 10px 15px;
                            gap: 17px;
                        }
                        @media (min-width: $breakpoint-extralarge) {
                            padding: 13px 15px;
                            border-radius: 10px;
                            gap: 10px;
                            font-size: 10px;
                        }
                    }
                    a:hover {
                        i,
                        p {
                            color: $white;
                        }
                    }
                }
            }
        }
        .copyright {
            display: flex;
            justify-content: center;
            color: var(--secondary);
            font-size: 16px;
            padding: 0px 20px 20px 20px;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            overflow: auto;
            height: calc(100vh - 80px);
            padding-bottom: 20px;
            i {
                font-size: 17px;
                a {
                    justify-content: center;
                }
            }
        }
    }
    .side-content::-webkit-scrollbar {
        display: none;
    }
    .topic {
        display: flex;
        justify-content: center;
        background-color: $white;
        width: 100%;
        padding: 15px;
        @media (min-width: $breakpoint-tablet) {
            padding: 9px;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        display: block;
        z-index: 60;
    }
}
