.logo {
    width: 150px;
    @media (min-width: $breakpoint-extralarge) {
        width: 120px;
    }
}

.nav-bar-wrap {
    @media (min-width: $breakpoint-large) {
        background-color: $white;
        position: fixed;
        z-index: 200;
    }
    @media (min-width: $breakpoint-extralarge) {
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: 2px solid var(--secondary);
    }
}
.left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    gap: 20px;
    background-color: $white;
    position: fixed;
    z-index: 200;
    top: 0;
    border-bottom: 1px solid $light;

    .icon-wrap {
        .dropdown {
            display: none !important;
            @media (min-width: $breakpoint-tablet) {
                display: block !important;
            }
        }
    }
    .wrapImg-dropdown {
        display: flex;
        align-items: center;
        @media (min-width: $breakpoint-tablet) {
            justify-content: space-between;
            gap: 5px;
            padding-right: 20px;
        }
        @media (min-width: $breakpoint-large) {
            width: 100%;
            justify-content: flex-end;
            padding: 0px;
        }
        @include mediaExtraLargeNone();
    }
    @media (min-width: $breakpoint-tablet) {
        padding: 1px;
    }
    @media (min-width: $breakpoint-large) {
        position: static;
        background-color: unset;
        border: 0px;
        justify-content: space-between;
        gap: 0px;
    }
    @media (min-width: $breakpoint-extralarge) {
        height: 80px;
    }
}

.right-side {
    @include rightSide;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-top: -130px;
    transition-duration: 0.2s;
    transform: $tranformReset;
    position: fixed;
    z-index: 50;
    .wrapProfile-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        .wrapProfile {
            display: flex;
            align-items: center;
            gap: 10px;
            @include mediaTabletNone();
        }
        .wrapLink {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        @media (min-width: $breakpoint-tablet) {
            justify-content: flex-end;
            width: auto;
        }
    }
    .wrap-search-btn {
        width: 100%;
        gap: 18px;
        display: flex;
        flex-direction: column;
        .wrap-search-setting {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            align-items: center;

            form {
                position: relative;
                i {
                    position: absolute;
                    color: var(--primary);
                    top: 52%;
                    left: 26px;
                    transform: translate(-50%, -50%);
                    @include fontAdjustforExtralarge();
                }
                input {
                    border-radius: 12px;
                    border: 1px solid var(--secondary);
                    padding: 11px 11px 11px 40px;
                    background-color: $white;
                    @media (min-width: $breakpoint-tablet) {
                        width: 100%;
                    }
                    @media (min-width: $breakpoint-extralarge) {
                        padding: 7px 11px 7px 40px;
                        border-radius: 9px;
                    }
                }
                input:focus {
                    outline: none;
                }
                input::placeholder {
                    color: var(--primary);
                    @include fontAdjustforExtralarge();
                }
                @media (min-width: $breakpoint-tablet) {
                    width: 100%;
                }
                @media (min-width: $breakpoint-extralarge) {
                    width: unset;
                }
            }
            @media (min-width: $breakpoint-tablet) {
                width: 80%;
                gap: 20px;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            justify-content: flex-end;
        }
        @media (min-width: $breakpoint-large) {
            flex-direction: row-reverse;
        }
        @media (min-width: $breakpoint-extralarge) {
            width: unset;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        z-index: 100;
    }
    @media (min-width: $breakpoint-large) {
        transform: $tranformReset !important;
        margin: 0px;
        position: relative;
        box-shadow: unset;
        padding: 0px !important;
        background-color: unset;
        border: 0px;
        display: flex !important;
        background: unset;
        gap: 50px;
    }
    @media (min-width: $breakpoint-extralarge) {
        justify-content: space-between;
        height: 80px;
        background-color: var(--light);
        padding: 0px 25px !important;
    }
}

.topic {
    display: flex;
    justify-content: center;
    background-color: $white;
    width: 100%;
    padding: 13px;
    .icon-wrap {
        width: 100%;
        justify-content: center;
        .btn-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
        @media (min-width: $breakpoint-extralarge) {
            justify-content: space-between;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        padding: 9px;
    }
}

.wrapProfile-collape {
    display: none;
    gap: 10px;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
        display: flex;
    }
    @media (min-width: $breakpoint-large) {
        justify-self: flex-end;
    }
}

.detail-profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
    p {
        margin: 0px;
        font-size: 18px;
        color: $tertiary-emphasis;
        @media (min-width: $breakpoint-large) {
            font-size: 15px;
        }
        @include fontAdjustforExtralarge();
    }
    .wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        h5 {
            font-size: 18px;
            margin: 0px;
            font-family: $font-bold;
            @media (min-width: $breakpoint-large) {
                font-size: 16px;
            }
            @media (min-width: $breakpoint-extralarge) {
                font-size: 14px !important;
            }
        }

        .line-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            .line:first-child {
                width: 20px;
                height: 3px;
                border-radius: 35px;
                background-color: var(--secondary);
                @media (min-width: $breakpoint-extralarge) {
                    width: 16px;
                }
            }
            .line:last-child {
                width: 14px;
                height: 3px;
                border-radius: 35px;
                align-self: flex-end;
                background-color: var(--secondary);
                @media (min-width: $breakpoint-extralarge) {
                    width: 10px;
                }
            }
        }
        @media (min-width: $breakpoint-extralarge) {
            gap: 5px;
        }
    }
}
