.day-section {
    display: none;
    position: relative;
}
// slider
.wrap-slider {
    @media (min-width: $breakpoint-large) {
        padding-right: 85px;
    }

    .swiper {
        width: 100%;
        height: unset;
        .swiper-wrapper {
            height: 90px;
            align-items: center;
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                .box {
                    margin: 7px;
                    width: 85px;
                    height: 77px;
                    max-height: unset;
                    align-self: center;
                    border: 2px solid var(--secondary);
                    border-radius: 10px;
                    text-align: center;
                    background: $white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p:first-child {
                        font-size: 16px;
                        color: var(--primary);
                        @include fontAdjustforExtralarge();
                    }
                    p:last-child {
                        font-size: 20px;
                        font-weight: bold;
                        @media (min-width: $breakpoint-extralarge) {
                            font-size: 16px;
                        }
                    }
                    @media (min-width: $breakpoint-extralarge) {
                        width: 65px;
                        height: 70px;
                    }
                }
                .box:hover,
                .box.active {
                    height: 85px;
                    border: 2px solid var(--infoDark);
                }
            }
            @media (min-width: $breakpoint-tablet) {
                height: 120px;
                align-items: center;
            }
            @media (min-width: $breakpoint-extralarge) {
                height: 85px;
            }
        }
    }
    @media (min-width: $breakpoint-extralarge) {
        padding-right: 70px;
    }
}

// button slider
.wrap-btn-swift {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;

    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        background-color: $white;
        border-radius: 7px;
        width: 47px;
        height: 40px;
        border: 2px solid var(--secondary);
        position: relative;
        right: unset;
        left: unset;
        top: unset;
        bottom: unset;
        margin: unset;
        box-shadow: $boxShadow;
        i {
            position: absolute;
            color: $black;
            margin: 0px;
            font-size: 18px;
            @include AbsoluteCenter;
            @media (min-width: $breakpoint-extralarge) {
                font-size: 10px;
            }
        }
        @media (min-width: $breakpoint-extralarge) {
            width: 42px;
            height: 32px;
        }
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background-color: $white;
        border-radius: 7px;
        border: 2px solid var(--primary);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: "";
        font-family: unset;
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        background-color: $light;
        border-radius: 7px;
        width: 47px;
        height: 40px;
        border: 1px solid var(--secondary);
        position: relative;
        right: unset;
        left: unset;
        top: unset;
        bottom: unset;
        @media (min-width: $breakpoint-extralarge) {
            width: 42px;
            height: 32px;
        }
    }
    @media (min-width: $breakpoint-large) {
        position: absolute;
        gap: 7px;
        margin: 0px;
        flex-direction: column-reverse;
        top: 50%;
        right: 0px;
        transform: translate(-50%, -50%);
    }
}
