@import "mixin.scss";

//color variable



$primary: rgb(7, 30, 184) ;

$secondary: $primary + 130%;
$infoDark: $primary + 100%;

$tertiary: #617c9c;
$tertiary-emphasis: #92a6c6;
$success: #12b785;
$successLight: #6dc0b3;
$danger: #f4548c;
$warning: #ffce04;
$info: #bbe3fa;
$light: #f6f9ff;
$dark: rgba(0, 0, 0, 0.4);
$white: #fff;
$black: #000;
$gray: #eef0f5;
$purple: #5252c0;
$active: $primary + 70%;
$primaryRadient: linear-gradient(176deg, $primary + 80% 58%, $secondary 100%);

$primaryShadow:
    $infoDark 0px 2px 11px 0px,
    $infoDark 0px 18px 36px -18px;

$dangershadow:
    $danger 0px 2px 11px 0px,
    $danger 0px 18px 36px -18px;

$dropdownMenuShadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

$boxShadow:
    rgba(0, 0, 0, 0.15) 0px 1px 6px 0px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;

$dotShadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

// color class
.blue {
    color: blue;
    background-color: blue;
    box-shadow: $dotShadow;
}

.purple {
    color: $purple;
    background-color: $purple;
    box-shadow: $dotShadow;
}

.green {
    color: $success;
    background-color: $success;
    box-shadow: $dotShadow;
}

.pink {
    color: $danger;
    background-color: $danger;
    box-shadow: $dotShadow;
}

.gray {
    color: $tertiary-emphasis;
    background-color: $tertiary-emphasis;
    box-shadow: $dotShadow;
}

.DocType-pink {
    background-color: $danger + 160% !important;
}

.DocType-blue {
    background-color: $infoDark + 240% !important;
}

.DocType-green {
    background-color: $success + 190% !important;
}

.green-completed {
    color: $success;
}

.btn-green {
    background-color: $success;
}

.btn-primary {
    background-color: $primary;
}
.btn-green:hover {
    background-color: $success - 30%;
}

.btn-blue {
    background-color: blue;
}

.btn-blue:hover {
    background-color: blue - 30%;
}

.bg-white {
    background-color: $white;
    border-radius: 13px;
}

.bg-gray {
    background-color: $light !important;
}

.green-pin {
    color: $success;
}

.blue-pin {
    color: $infoDark;
}

.text-gray {
    color: $tertiary-emphasis;
}

:root:has(.colorChange-Mobile:checked),
:root:has(.colorChange-Tablet:checked) {
    --backgroundSidebar: white;
    --lineSidebar: #99afc9;
    --iconOpen_CLoseSidebar: black;
    --textSidebar: black;
    --textSubmenuSidebar: black;
    --textfooter: #a2b7cf;

    --iconSidebar: #a2b7cf;
    --borderMultiple: #99afc9;
    --borderUserSidebar: #99afc9;
    --backgroundFooterSidebar: #f7faff;
    --backgroundiconSubmenu: #f4f7fc;

    --backgroundSidebarHover: transparent;
    --textSidebarHover: #4090fc;
    --textSubmenuHover: #4090fc;
    --textSubmenuBeforeHover: #0193e3;

    --backgroundSidebarFocus: transparent;
    --backgroundSubmenuSidebarFocus: transparent;

    --backgroundMainSidebarFocus: transparent;
    --textSidebarFocus: #4090fc;
    --textUserActive: #4090fc;
    --backgroundiconSubmenuFocus: transparent;
}
:root {
    // primary
    --backgroundSidebar: #032c7b;
    //secondary
    --lineSidebar: #4064a8;
    //white
    --iconOpen_CLoseSidebar: white;
    //secondary
    --textSidebar: #90abdf;
    //secondary
    --textSubmenuSidebar: #7092d2;
    //secondary
    --textfooter: #90abdf;
    // secondary
    --iconSidebar: #6e9bf2;
    // primary
    --borderMultiple: #032c7b;
    // primary
    --borderUserSidebar: #012260;
    // dark
    --backgroundFooterSidebar: #173686;
    // primary
    --backgroundiconSubmenu: #082c7c;
    // dark
    --backgroundSidebarHover: #022567;
    //white
    --textSidebarHover: white;
    //white
    --textSubmenuHover: white;
    //info
    --textSubmenuBeforeHover: #0193e3;
    // dark
    --backgroundSidebarFocus: #022567;
    // dark
    --backgroundSubmenuSidebarFocus: #022567;
    //dark
    --backgroundMainSidebarFocus: #012260;
    //white
    --textSidebarFocus: white;
    //white
    --textUserActive: white;
    // primary
    --backgroundiconSubmenuFocus: #082c7c;
}

//media breakpoint
$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-extralarge: 1200px;
$breapkoint-superExtralarge: 1600px;

//other variable
$tranformReset: translate(0px, 0px);
$font-bold: Ubuntu-bold;
