.blueTheme,
:root:has(#blue-theme:checked) {
    --primary: #0d0368;
    --secondary: #d2cdf9;
    --line-break: #90d0f8;
    --infoDark: #8c7ff1;
    --active: #2b19cb;
    --dark: #0a024f;
    --light:#f6f9ff;
    --primaryRadient: linear-gradient(-224deg, #5e4eeb 58%, #d2cdf9e3 154%);
    --primaryShadow: #8c7ff1 0px 2px 11px 0px, #8c7ff1 0px 18px 36px -18px;
}
.blueYellowTheme,
:root:has(#blueYellow-theme:checked) {
    --primary: #22668D;
    --secondary: #FFCC70;
    --line-break: #22668D;
    --infoDark: #726102;
    --active: #258ea8;
    --dark: #023959;
    --light:#f6fff8;
    --primaryRadient: linear-gradient(-224deg, #c99535 58%, #fff3b3 154%);
    --primaryShadow: #FFCC70 0px 2px 11px 0px, #FFCC70 0px 18px 36px -18px;
}
.pinkTheme,
:root:has(#pink-theme:checked) {
    --primary: #ff5858;
    --secondary: #ffc8c8;
    --line-break: #ff7d7d;
    --infoDark: #ff6b6b;
    --active: #ffa3a3;
    --dark: #963232;
    --light:#f6f9ff;
    --primaryRadient: linear-gradient(-224deg, #f68080 58%, #ffc8c8 154%);
    --primaryShadow: #ff5858 0px 2px 11px 0px, #ff5858 0px 18px 36px -18px;
}
.blackTheme,
:root:has(#black-theme:checked) {
    --primary: #272829;
    --secondary: #cadfde;
    --line-break: #FFFFFF;
    --infoDark: #706C61;
    --active: #706C61;
    --dark: rgba(0, 0, 0, 0.4);
    --light:#f6f9ff;
    --primaryRadient: linear-gradient(-224deg, #787878 58%, #FFFFFF 154%);
    --primaryShadow: #706C61 0px 2px 11px 0px, #706C61 0px 18px 36px -18px;
}
.yellowTheme,
:root:has(#yellow-theme:checked) {
    --primary: #451952;
    --secondary: #F39F5A;
    --line-break: #662549;
    --infoDark: #74460a;
    --active: #743d8a;
    --dark: rgb(0 0 0 / 75%);
    --light:#fffefb;
    --primaryRadient: linear-gradient(-224deg, #f6b987 58%, #feeee1 154%);
    --primaryShadow: #D0B8A8 0px 2px 11px 0px, #D0B8A8 0px 18px 36px -18px;
}

$tertiary: #617c9c;
$tertiary-emphasis: #92a6c6;
$success: #12b785;
$successLight: #6dc0b3;
$danger: #f4548c;
$warning: #ffce04;
$info: #bbe3fa;
$light: #f6f9ff;
$dark: rgba(0, 0, 0, 0.4);
$white: #fff;
$black: #000;
$gray: #eef0f5;
$purple: #5252c0;

$dangershadow:
    $danger 0px 2px 11px 0px,
    $danger 0px 18px 36px -18px;

$dropdownMenuShadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

$boxShadow:
    rgba(0, 0, 0, 0.15) 0px 1px 6px 0px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;

$dotShadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

// color class
.blue {
    color: blue;
    background-color: blue;
    box-shadow: $dotShadow;
}

.purple {
    color: $purple;
    background-color: $purple;
    box-shadow: $dotShadow;
}

.green {
    color: $success;
    background-color: $success;
    box-shadow: $dotShadow;
}

.pink {
    color: $danger;
    background-color: $danger;
    box-shadow: $dotShadow;
}

.gray {
    color: $tertiary-emphasis;
    background-color: $tertiary-emphasis;
    box-shadow: $dotShadow;
}

.DocType-pink {
    background-color: $danger + 160% !important;
}

.DocType-blue {
    background-color: blue + 240% !important;
}

.DocType-green {
    background-color: $success + 190% !important;
}

.green-completed {
    color: $success;
}

.btn-green {
    background-color: $success;
}

.btn-green:hover {
    background-color: $success - 30%;
}

.btn-blue {
    background-color: blue;
}

.btn-blue:hover {
    background-color: blue - 30%;
}

.bg-white {
    background-color: $white;
    border-radius: 13px;
}


.green-pin {
    color: $success;
}

.blue-pin {
    color: blue;
}

.text-gray {
    color: $tertiary-emphasis;
}

//media breakpoint
$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-extralarge: 1200px;
$breapkoint-superExtralarge: 1600px;

//other variable
$tranformReset: translate(0px, 0px);
$font-bold: Ubuntu-bold;
