@import 'style.scss';
@import 'nav-header.scss';
@import 'button-dropdown';
@import 'type.scss';
@import 'modal.scss';
@import 'menu-sidebar.scss';
@import 'class-javascript';
@import 'slide';
@import 'calenda';
@import 'component-addition';


