$tranformReset: translate(0px, 0px);
$font-bold: Ubuntu-bold;
$dotShadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$white: #fff;
$blue: #0092e3;
$blueHover: #0270ac;
$purple: #5252c0;
$green: #12b785;
$pink: #f4548c;
$gray: #92a6c6;
$grayLight: #e2ebf6;
$backgroundGray: #f6f9ff;

$DocType-pink: #f5f4ff;
$DocType-blue: #ebf4fb;
$DocType-green: #edf8f6;

$greenButton: #63d4d4;
$greenButtonHover: #51abab;

$grenPin: #25b003;

$dropdownBorderColor: #cbd9e8;
$dropdownBackgroundColorBLue: #0f2c7c;

$switchDropdownLiHover: #0b2455;

$modalColorGray: #9eb1cd;
$modal-backdrop: #8db3fc;

$pink-btn: #f55995;
$blue-btn: #1148b1;
$shadow-btn: -1px 5px 20px 0px;

$borderGray: #dce4f4;

@mixin AbsoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

@mixin circleCover() {
    border: 2px solid $dropdownBorderColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    background-color: $white;
    box-shadow:
        $grayLight 1px 1px 6px 1px,
        $grayLight 0px 18px 36px -18px;
}

:root:has(.colorChange-Mobile:checked),
:root:has(.colorChange-Tablet:checked) {
    --backgroundSidebar: white;
    --lineSidebar: #99afc9;
    --iconOpen_CLoseSidebar: black;
    --textSidebar: black;
    --textSubmenuSidebar: black;
    --textfooter: #a2b7cf;
    --iconSidebar: #a2b7cf;
    --borderMultiple: #99afc9;
    --borderUserSidebar: #99afc9;
    --backgroundFooterSidebar: #f7faff;
    --backgroundiconSubmenu: #f4f7fc;

    --backgroundSidebarHover: transparent;
    --textSidebarHover: #4090fc;
    --textSubmenuHover: #4090fc;
    --textSubmenuBeforeHover: #0193e3;

    --backgroundSidebarFocus: transparent;
    --backgroundSubmenuSidebarFocus: transparent;

    --backgroundMainSidebarFocus: transparent;
    --textSidebarFocus: #4090fc;
    --textUserActive: #4090fc;
    --backgroundiconSubmenuFocus: transparent;
}
:root {
    --backgroundSidebar: #032c7b;
    --lineSidebar: #4064a8;
    --iconOpen_CLoseSidebar: white;
    --textSidebar: #90abdf;
    --textSubmenuSidebar: #7092d2;
    --textfooter: #90abdf;
    --iconSidebar: #6e9bf2;
    --borderMultiple: #032c7b;
    --borderUserSidebar: #012260;
    --backgroundFooterSidebar: #173686;
    --backgroundiconSubmenu: #082c7c;

    --backgroundSidebarHover: #022567;
    --textSidebarHover: white;
    --textSubmenuHover: white;
    --textSubmenuBeforeHover: #0193e3;

    --backgroundSidebarFocus: #022567;
    --backgroundSubmenuSidebarFocus: #022567;

    --backgroundMainSidebarFocus: #012260;
    --textSidebarFocus: white;
    --textUserActive: white;
    --backgroundiconSubmenuFocus: #082c7c;

    /* switch toggle */
    --switchBackground: #042c7c;

    /* breadcrumb color */
    --breadcrumbcolor: #93a5bc;
    --breadcrumbcolor_Active: #215cbd;
}

/*  Ubuntu-bold */
@font-face {
    font-family: "Ubuntu-bold";
    src: url(./font/Ubuntu/Ubuntu-Bold.eot);
    src:
        url("Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Bold.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Bold.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Bold.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Bold.svg) format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*  Ubuntu-Italic */
@font-face {
    font-family: "Ubuntu-Italic";
    src: url(./font/Ubuntu/Ubuntu-Italic.eot);
    src:
        url("Ubuntu-Italic.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Italic.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Italic.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Italic.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Italic.svg) format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*  Ubuntu-Medium */
@font-face {
    font-family: "Ubuntu-Medium";
    src: url(./font/Ubuntu/Ubuntu-Medium.eot);
    src:
        url("Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Medium.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Medium.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Medium.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Medium.svg) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*  Ubuntu (Regular) */
@font-face {
    font-family: "Ubuntu";
    src: url(./font/Ubuntu/Ubuntu-Regular.eot);
    src:
        url("Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Regular.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Regular.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Regular.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Regular.svg) format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Ubuntu";
    position: relative;
    scroll-behavior: smooth;
}

button {
    border: 0px;
    background-color: unset;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:focus {
    color: unset;
}

h2 {
    margin: 0px;
    font-family: $font-bold;
}
p {
    margin: 0px;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

/*  ! use for javascript */
.hide {
    display: none;
}

.show {
    display: block !important;
}

.none {
    display: none !important;
}

.disableScroll {
    height: 100%;
    overflow: hidden;
}

.cannotClick {
    pointer-events: none;
}

.btn-mini-Left {
    margin-left: auto;
    border-radius: 5px 0px 0px 5px !important;
}

.transform {
    transform: translate(0px, 273px) !important;
}

.reset-transform {
    transform: $tranformReset !important;
}

.content-all-section-movement {
    padding: auto;
    transition-duration: 0.3s;
}

.menu-cover-mini-width-extend {
    width: 280px !important;
}

.topic-tablet {
    display: none !important;
}

.for-desktop {
    display: none !important;
}

/*  ? color */
.blue {
    color: $blue;
    background-color: $blue;
    box-shadow: $dotShadow;
}

.purple {
    color: $purple;
    background-color: $purple;
    box-shadow: $dotShadow;
}

.green {
    color: $green;
    background-color: $green;
    box-shadow: $dotShadow;
}

.pink {
    color: $pink;
    background-color: $pink;
    box-shadow: $dotShadow;
}

.gray {
    color: $gray;
    background-color: $gray;
    box-shadow: $dotShadow;
}

.DocType-pink {
    background-color: $DocType-pink !important;
}

.DocType-blue {
    background-color: $DocType-blue !important;
}

.DocType-green {
    background-color: $DocType-green !important;
}

.green-completed {
    color: $greenButton;
}

.btn-green {
    background-color: $greenButton;
}

.btn-green:hover {
    background-color: $greenButtonHover;
}

.btn-blue {
    background-color: $blue;
}

.btn-blue:hover {
    background-color: $blueHover;
}

.bg-white {
    background-color: $white;
    border-radius: 13px;
}

.bg-gray {
    background-color: $backgroundGray !important;
}

.green-pin {
    color: $grenPin;
}

.blue-pin {
    color: $blue;
}

.text-gray {
    color: $gray;
}

/* *dropdown */
#setting {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        background-color: $dropdownBackgroundColorBLue;
        box-shadow: $dropdownBackgroundColorBLue 0px 25px 50px -12px;
        padding: 10px 0px;
        border-radius: 13px;
        position: absolute;
        inset: unset !important;
        top: 66px !important;
        transform: unset !important;
        right: -7px !important;

        a {
            padding: 9px 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }
        a:hover {
            color: $white;
            background: unset;

            p,
            i {
                color: $white;
            }
        }
        i {
            color: #375da3;
            padding: 0px;
        }
        p {
            color: #9db9ee;
            font-size: 18px;
            padding: 0px;
        }
    }
    .dropdown-menu::before {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid $dropdownBackgroundColorBLue;
        top: -8px;
        right: 20.9px;
    }
}

#profile-img {
    height: 50px;
    width: 50px;

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu::before {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid $dropdownBorderColor;
        top: -10px;
        right: 20.9px;
    }
    .dropdown-menu::after {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
        top: -7px;
        right: 21px;
    }
    .dropdown-menu {
        border-radius: 14px;
        border: 1px solid $dropdownBorderColor;
        font-weight: bold;
        position: absolute;
        inset: 0px 0px auto auto;
        margin: 0px;
        background-color: $white;
        transform: unset !important;
        inset: unset !important;
        box-shadow:
            $grayLight 1px 1px 6px 1px,
            $grayLight 0px 18px 36px -18px;
        top: 67px !important;
        right: -5px !important;

        a {
            font-weight: bold;
            font-size: 18px;
        }
    }
}

#profile-img-2 {
    height: 50px;
    width: 50px;

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu::before {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid $dropdownBorderColor;
        top: -10px;
        left: 20px;
    }
    .dropdown-menu::after {
        content: "";
        width: 0px;
        position: absolute;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
        top: -7px;
        left: 21.2px;
    }
    .dropdown-menu {
        border-radius: 14px;
        border: 1px solid $dropdownBorderColor;
        font-weight: bold;
        position: absolute;
        background-color: $white;
        inset: 0px 0px auto auto;
        margin: 0px;
        box-shadow:
            $grayLight 1px 1px 6px 1px,
            $grayLight 0px 18px 36px -18px;
        transform: translate3d(-9px, 62px, 0px) !important;

        a {
            font-weight: bold;
            font-size: 18px;
        }
    }
}
#switchDropdown {
    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-menu {
        background-color: $dropdownBackgroundColorBLue;
        position: absolute;
        inset: 0px 0px auto auto;
        margin: 0px;
        border-radius: 14px;
        transform: unset !important;
        inset: unset !important;
        top: 37px !important;
        right: -19px !important;
        width: 230px !important;
        padding: 0px;
        box-shadow:
            rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #0f3682;

            .wrapIcon-text {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            a {
                color: $white;
                width: unset;
                width: 100%;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 20px;
            }
            a:hover {
                background-color: unset;
            }
            .cover-logo {
                background-color: #021133;
                display: flex;
                width: 40px;
                height: 40px;
                border-radius: 7px;
                position: relative;
                p {
                    color: #5d92ff;
                    @include AbsoluteCenter();
                    letter-spacing: 2px;
                    font-weight: bold;
                    font-size: 17px;
                }
                img {
                    width: 30px;
                    @include AbsoluteCenter();
                }
            }
            .text-cover {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .wrap-text {
                    display: flex;
                    gap: 4px;
                    align-items: baseline;

                    p:nth-child(2) {
                        font-size: 12px;
                        color: #6dc0b3;
                    }
                    p:first-child {
                        color: $white;
                    }
                    p:first-child:hover {
                        background-color: unset;
                    }
                    > p:last-child {
                        font-size: 18px;
                        color: #4f75bd;
                    }
                }
            }
        }

        li:hover {
            background-color: $switchDropdownLiHover;
        }

        li:first-child:hover {
            background-color: $switchDropdownLiHover;
            border-radius: 14px 14px 0px 0px;
        }
        li:last-child {
            border: 0px;
        }
        li:last-child:hover {
            background-color: $switchDropdownLiHover;
            border-radius: 0px 0px 14px 14px;
        }
        .list-dropdown-last {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            p:first-child {
                color: $white;
            }
            i {
                color: #587dc5;
                position: relative;
            }
            .block {
                position: absolute;
                top: 50%;
                width: 3px;
                height: 4px;
                left: 38%;
                transform: translate(-50%, -50%);
                background-color: $dropdownBackgroundColorBLue;
            }
        }
    }
    .dropdown-menu::before {
        content: "";
        position: absolute;
        top: -7px;
        right: 22px;
        width: 0px;
        height: 0px;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 10px solid $dropdownBackgroundColorBLue;
        border-radius: 16px;
    }
    .active {
        background-color: unset;

        .checked {
            display: block !important;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: $green;
            position: relative;
        }
    }
    .checked {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        background-color: $green;
        position: relative;
        display: none;

        i {
            text-align: center;
            color: $white;
            font-size: 18px;
            @include AbsoluteCenter();
        }
    }
}
#mail {
    height: 52px;

    .dropdown-menu {
        border: 1px solid $dropdownBorderColor;
        border-radius: 8px;
        padding: 0px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        position: absolute !important;
        inset: unset !important;
        margin: 0px !important;
        transform: unset !important;
        top: 71px !important;
        right: -11px !important;
        position: relative;

        li {
            padding: 0px;
            .dropdown-item {
                display: flex;
                gap: 14px;
                z-index: 400;
                padding: 16px 24px;
                align-items: center;

                .main-img-cover {
                    border: 2px solid $dropdownBorderColor;
                    border-radius: 50%;
                    width: 60px;
                    height: 60px;
                    overflow: hidden;
                    position: relative;
                    box-shadow:
                        $grayLight 1px 1px 6px 1px,
                        $grayLight 0px 18px 36px -18px;

                    img {
                        width: 51px;
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                > p {
                    font-family: $font-bold;
                }
                > i {
                    font-size: 16px;
                    color: #ccdcec;
                }

                .text-wrap {
                    width: 70%;
                    .profile-name {
                        font-family: $font-bold;
                    }

                    .text-wrapLink-span {
                        display: flex;
                        align-items: center;

                        p {
                            color: #6f849d;
                            letter-spacing: 1px;
                            font-weight: bold;
                        }
                        .link-tag {
                            color: #3f99e3;
                        }
                        .time {
                            color: #425073;
                        }
                    }
                }
            }
            a:hover {
                background-color: #f4f8fc;
            }
            .addition {
                justify-content: space-between;
            }
        }
        li:not(:last-child) {
            border-bottom: 2px solid #ecf4fc;
        }

        li:first-child {
            a:hover {
                border-radius: 8px 8px 0px 0px;
            }
            .dropdown-item {
                p::before {
                    position: absolute;
                    top: -10px;
                    right: 25px;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-bottom: 10px solid $dropdownBorderColor;
                }
                p::after {
                    position: absolute;
                    top: -8px;
                    right: 25px;
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-bottom: 11px solid $white;
                }
            }

            p::after {
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                border-bottom: 11px solid #f4f8fc;
            }
        }
        li:last-child {
            a:hover {
                border-radius: 0px 0px 8px 8px;
            }
        }
    }
    .dropdown-menu:active {
        background-color: $white;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        width: 280px;
    }

    a:active {
        .profile-name {
            color: black;
        }
    }
}

#DocsType,
#RecentAction {
    button {
        border-radius: 8px;
        display: flex !important;
        justify-content: space-between;
        background-color: #eff4fc;
        align-items: center;
        gap: 4px;
        padding: 8px;
        p {
            font-size: 18px;
            color: #233a67;
            font-family: $font-bold;
        }
        i {
            color: #bcc5d7;
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
}

#company-dropdown {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        border-radius: 14px;
        border: 2px solid #dcecf4;
        z-index: 70;
        padding: 5px 30px;
        transform: unset !important;
        right: -14px !important;
        top: 25px !important;
        background-color: $white;
        position: relative;

        a {
            padding: 4px 10px;
            display: flex;
            align-items: center;
            margin: 0px;
            justify-content: flex-start;
            gap: 6px;
        }
        a:hover {
            background-color: white;
            opacity: 0.6;
        }
        p {
            font-family: $font-bold;
        }
        i {
            color: #a9bcd0;
        }
    }
    .dropdown-menu::before {
        position: absolute;
        top: -11px;
        right: 14px;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #dcecf4;
    }
    .dropdown-menu::after {
        position: absolute;
        top: -8px;
        right: 14px;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $white;
    }
}

/* * Modal */

#modal-create {
    .modal-dialog {
        position: absolute;
        width: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        border-radius: 20px;
        margin: 0;
        border: 0px;
        .modal-content {
            background-color: #ebf2ff;
            padding: 13px;
            border-radius: 20px;
            border: 0px;
            .modal-header {
                justify-content: center;
                position: relative;
                border: 0px;
                .modal-title {
                    font-size: 17px !important;
                    font-family: $font-bold;
                }
                .btn-close {
                    padding: 0px;
                    margin: 0px;
                }
                .modalbtn-close-adjust {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    left: 94%;
                    transform: translate(-50%, -83%);
                    background-image: unset;
                    i {
                        font-size: 18px;
                        color: $modalColorGray;
                    }
                }
                .modalbtn-close-adjust:focus {
                    box-shadow: unset;
                }
            }
            .modal-body {
                background-color: white;
                border-radius: 13px;
                margin: 10px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 20px;
                overflow: auto;
                height: 300px;
                .box-template {
                    border-radius: 20px;
                    width: 300px;
                    height: 265px;
                    border: 2px solid $borderGray;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .img-cover {
                        height: 55%;
                        position: relative;
                        width: 100%;
                        img {
                            width: 130px;
                            @include AbsoluteCenter();
                        }
                    }
                    .text-wrap {
                        height: 45%;
                        width: 100%;
                        justify-content: center;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        > p {
                            font-family: $font-bold;
                            font-size: 20px;
                        }
                        .cover-text {
                            background-color: #f8fbff;
                            border-radius: 8px;
                            width: 60%;
                            align-self: center;
                            padding: 5px;
                            color: #617c9c;
                        }
                    }
                }
                .box-template:hover {
                    border: 2px solid #487ce5;
                }
            }
            .modal-footer {
                justify-content: center;
                padding: 0px;
                border: 0px;
                button {
                    font-family: $font-bold;
                    color: #617c9c;
                    width: 100%;
                }
            }
        }
    }
}
#modal-delete {
    .modal-dialog {
        width: 95%;
        border-radius: 20px;
        margin: 0;
        border: 0px;
        @include AbsoluteCenter();
        .modal-content {
            background-color: #ebf2ff;
            padding: 13px;
            border-radius: 20px;
            border: 0px;
            .modal-header {
                justify-content: center;
                position: relative;
                border: 0px solid;
                .modal-title {
                    font-size: 17px !important;
                    font-family: $font-bold;
                    span {
                        text-decoration: underline;
                    }
                }
                .btn-close {
                    padding: 0px;
                    margin: 0px;
                }
                .modalbtn-close-adjust {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    left: 94%;
                    transform: translate(-50%, -83%);
                    background-image: unset;
                    i {
                        font-size: 18px;
                        color: $modalColorGray;
                    }
                }
                .modalbtn-close-adjust:focus {
                    box-shadow: unset;
                }
            }

            .modal-body {
                background-color: white;
                border-radius: 13px;
                margin: 10px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .warning-text {
                    padding: 22px;
                    background-color: #ffebf3;
                    font-size: 18px;
                    border-radius: 13px;
                    font-family: $font-bold;
                    margin-bottom: 20px;
                }
                form {
                    display: flex;
                    align-items: center;
                    .approve {
                        text-decoration: underline;
                        font-family: $font-bold;
                        font-size: 18px;
                    }
                }
                input {
                    margin-right: 10px;
                }
                input[type="checkbox"] {
                    font: inherit;
                    color: currentColor;
                    width: 20px;
                    height: 20px;
                    border-radius: 60px;
                    transform: translateY(-0.075em);
                }
                .btn-wrap {
                    display: flex;
                    margin: 30px 0px 10px 0px;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 13px 13px;
                        gap: 6px;
                        border-radius: 8px;
                    }
                    .export-btn {
                        background-color: $blue-btn;
                        box-shadow: $blue-btn $shadow-btn;
                    }
                    .delete-btn {
                        background-color: $pink-btn;
                        box-shadow: $pink-btn $shadow-btn;
                    }
                    i {
                        color: white;
                        font-size: 16px;
                        opacity: 0.8;
                    }
                    p {
                        color: white;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                }
            }
            .modal-footer {
                justify-content: center;
                padding: 0px;
                border: 0px;
                button {
                    font-family: $font-bold;
                    color: #617c9c;
                    width: 100%;
                }
            }
        }
    }
}
.modal-backdrop {
    background-color: $modal-backdrop;
    opacity: 0.9 !important;
    z-index: 50 !important;
}

.modal-event {
    position: fixed;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 55;
    padding-left: 112px;
}
.event-modal-popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 300;
    .cover {
        background-color: $white;
        border-radius: 13px;
        padding: 20px;
        display: none;
        @include AbsoluteCenter();
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        font-family: $font-bold;
        button {
            background-color: $blue;
            color: $white;
            border-radius: 13px;
            height: 40px;
            width: 100px;
        }
    }
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 30px;
    z-index: 500;
    .switch-label {
        width: 56%;
        height: 30px;
        background-color: var(--switchBackground);
        border-radius: 25px;
        cursor: pointer;
        border: 3px solid #548bcf;
        @include AbsoluteCenter();
        .checkbox {
            position: absolute;
            display: none;
        }
        .checkbox:checked {
            ~ .slider {
                background-color: #d8dbe0;
            }
            ~ .slider::before {
                -webkit-transform: translateX(50px);
                -ms-transform: translateX(50px);
                transform: translateX(26px);
                background-color: var(--switchBackground);
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
        .slider {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            z-index: 500;
        }
        .slider::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 3px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            -webkit-box-shadow: inset 12px -4px 0px 0px #d8dbe0;
            box-shadow: inset 12px -4px 0px 0px #d8dbe0;
            background-color: var(--switchBackground);
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
    }
}
.logo {
    width: 150px;
}
.left-side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 13px;
    gap: 20px;
    background-color: white;
    position: fixed;
    z-index: 200;
    top: 0;
    border-bottom: 1px solid $borderGray;

    .btn-menu {
        i {
            font-size: 27px;
        }
    }
    .icon-wrap {
        .dropdown {
            display: none !important;
        }
    }
    .wrapImg-dropdown {
        display: flex;
        align-items: center;
        .menuOpen,
        .menuClose {
            width: 30px;
            align-items: center;
            i {
                font-size: 21px;
                color: #c2c2df;
            }
        }
    }
}

.right-side {
    border-bottom: 1px solid $borderGray;
    background: rgb(247, 247, 249);
    background: linear-gradient(
        180deg,
        rgba(247, 247, 249, 1) 0%,
        rgba(245, 249, 250, 1) 26%,
        rgba(255, 255, 255, 1) 100%
    );
    display: flex;
    box-shadow:
        rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(0, 0, 0, 0.05) 0px 5px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-top: -130px;
    transition-duration: 0.2s;
    transform: translate(0px, 0px);
    position: fixed;
    z-index: 50;
    .wrapProfile-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        .wrapProfile {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .wrapLink {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    .wrap-search-btn {
        width: 100%;
        gap: 18px;
        display: flex;
        flex-direction: column;
        .wrap-search-setting {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            align-items: center;

            form {
                position: relative;
                i {
                    position: absolute;
                    color: $dropdownBorderColor;
                    top: 52%;
                    left: 26px;
                    transform: translate(-50%, -50%);
                }
                input {
                    border-radius: 12px;
                    border: 1px solid $dropdownBorderColor;
                    padding: 11px 11px 11px 40px;
                    background-color: white;
                }
                input:focus {
                    outline: none;
                }
                input::placeholder {
                    color: #cedcec;
                }
            }
            .square-cover {
                @include circleCover();
                border-radius: 12px !important;
                a {
                    @include AbsoluteCenter();
                    padding: 13px;
                    object-fit: cover;
                    text-align: center;
                    color: #000;
                    font-size: 18px;
                }
            }
        }
    }
}

.topic {
    .icon-wrap {
        width: 100%;
        justify-content: center;
        .btn-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
}
.switch-btn {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    outline: 2px solid $grayLight;
    border-radius: 5px;
    box-shadow:
        $grayLight 1px 1px 6px 1px,
        $grayLight 0px 18px 36px -18px;
    align-self: center;
    img {
        @include AbsoluteCenter();
        width: 15px;
        text-align: center;
        align-items: center;
    }
}

.switch-btn:focus {
    outline: 2px solid $grayLight !important;
}

.wrapProfile-collape {
    display: none;
    gap: 10px;
    align-items: center;
}

.circle-cover {
    @include circleCover();
    overflow: hidden;
    img {
        position: absolute;
        width: 42px;
        object-fit: cover;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.circle-cover-collape {
    @include circleCover();
    overflow: hidden;
    img {
        position: absolute;
        width: 42px;
        object-fit: cover;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.wrapLink-circle-cover {
    @include circleCover();
    .notice {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -5px;
        top: -7px;
        border-radius: 50%;
        background-color: $pink;
        p {
            position: absolute;
            right: 5px;
            top: -2px;
            color: $white;
            text-align: center;
        }
    }
    a {
        @include AbsoluteCenter();
        object-fit: cover;
        text-align: center;
        padding: 13px;
        color: #476386;
    }
}

.wrapLink-circle-cover:nth-child(2) {
    .notice {
        position: absolute;
        width: 10px;
        height: 10px;
        right: 3px;
        top: 0;
        border-radius: 50%;
        background-color: $blue;
        outline: 2px solid $white;
    }
}

.wrapLink-circle-cover-collape {
    @include circleCover();
}

.detail-profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        h5 {
            font-size: 18px;
            margin: 0px;
            font-family: $font-bold;
        }
        p {
            margin: 0px;
            font-size: 18px;
            color: #476386;
        }
        .line-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            .line:first-child {
                width: 20px;
                height: 3px;
                border-radius: 35px;
                background-color: $dropdownBorderColor;
            }
            .line:last-child {
                width: 14px;
                height: 3px;
                border-radius: 35px;
                align-self: flex-end;
                background-color: $dropdownBorderColor;
            }
        }
    }
}

/* * side bar */
.menu-cover {
    width: 300px;
    background-color: var(--backgroundSidebar);
    position: fixed;
    padding: 0px !important;
    z-index: 200;
    top: 0px;
    left: -600px;
    display: none;
    transition-duration: 0.5s;
    box-shadow:
        rgba(50, 50, 93, 0.25) 6px 0px 12px 4px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid $borderGray;
    width: 300px;
    background-color: var(--backgroundSidebar);
    position: fixed;
    padding: 0px !important;
    z-index: 200;
    top: 0px;
    left: -600px;
    display: none;
    transition-duration: 0.5s;
    box-shadow:
        rgba(50, 50, 93, 0.25) 6px 0px 12px 4px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 1px solid $borderGray;

    .side-content {
        overflow: auto;
        height: calc(100vh - 91px);
        .head-title {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 35px;
            justify-content: space-between;
            padding: 0px 0px 0px 20px;

            .btn-menu-side-mobile {
                border-radius: 5px 0px 0px 5px;
                background-color: var(--backgroundSidebar);
                width: 30px;
                height: 30px;
                border: 1px solid var(--lineSidebar);
                padding: 0px;
                z-index: 10;
                position: relative;
                i {
                    color: var(--iconOpen_CLoseSidebar);
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                    @include AbsoluteCenter();
                }
            }

            .cover-title {
                position: relative;
                z-index: 20;
                h4 {
                    border: 1px dashed var(--lineSidebar);
                    text-align: center;
                    font-size: 16px;
                    color: var(--lineSidebar);
                    margin: 0px;
                    padding: 5px;
                    border-radius: 6px;
                    width: 100px;
                    z-index: 20;
                    background-color: var(--backgroundSidebar);
                }
            }
            .line {
                width: 100%;
                border-top: 1px dashed var(--lineSidebar);
                position: absolute;
                height: 1px;
                top: 47%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .side-menu-list {
            > ul {
                padding: 20px;
                li {
                    margin-bottom: 6px;
                    border-radius: 10px;
                    .cover-icon,
                    .cover-icon-2 {
                        i {
                            color: #6587c7;
                            font-size: 18px;
                            @include AbsoluteCenter();
                        }
                        .wrap {
                            i {
                                color: var(--iconSidebar);
                            }
                        }
                    }

                    a {
                        border-radius: 10px;
                        display: flex;
                        padding: 15px;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        .wrap {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            i {
                                color: var(--iconSidebar);
                            }
                        }
                    }
                    a:hover {
                        background-color: var(--backgroundSidebarHover);
                        border-radius: 6px;
                        p {
                            color: var(--textSidebarHover);
                        }
                    }
                    .active-link {
                        background-color: var(--backgroundSidebarFocus);
                        border-radius: 6px;
                        color: white;
                        .wrap {
                            p {
                                color: var(--textSidebarFocus);
                            }
                            i {
                                color: var(--iconSidebar);
                            }
                        }
                        p {
                            border-radius: 13px;
                            color: var(--textSidebarHover);
                        }
                    }
                    .wrap {
                        p {
                            color: var(--textSidebar);
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .cover-icon,
                    .cover-icon-2 {
                        background-color: #6272dc;
                        position: relative;
                        border-radius: 6px;
                        padding: 5px;
                        width: 20px;
                        height: 20px;
                    }
                }
                .Dashboard-btn {
                    a {
                        display: flex;
                        padding: 15px;
                        align-items: center;
                        width: 100%;
                        border-radius: 10px;
                        justify-content: space-between;
                        .wrap {
                            i {
                                color: #6e9bf2;
                            }
                            p {
                                color: white;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }
                        .cover-icon {
                            i {
                                color: white;
                                font-size: 18px;
                                @include AbsoluteCenter();
                            }
                        }
                    }
                }
                .Dashboard-btn:first-child {
                    border-radius: 10px;
                    margin-bottom: 15px;
                    background: rgb(37, 87, 196);
                    background: linear-gradient(
                        20deg,
                        rgba(37, 87, 196, 1) 0%,
                        rgba(47, 89, 201, 1) 14%,
                        rgba(55, 91, 205, 1) 38%,
                        rgba(70, 94, 212, 1) 52%,
                        rgba(83, 98, 218, 1) 68%,
                        rgba(87, 103, 219, 1) 100%
                    );
                }
                .multiple {
                    border: 1px solid var(--borderMultiple);
                    .sub-menu {
                        position: relative;
                        background-color: var(--backgroundSubmenuSidebarFocus);
                        border-radius: 0px 0px 6px 6px;
                        display: none;
                        li {
                            padding: 7px 35px;
                            a {
                                display: flex;
                                list-style: initial;
                                padding: 6px;
                                align-items: center;
                                width: 100%;
                                justify-content: space-between;
                                position: relative;
                                color: var(--textSubmenuSidebar);
                                font-weight: bold;
                            }
                            a:before {
                                content: "•";
                                position: absolute;
                                left: -20px;
                                font-size: 20px;
                            }
                            a:hover {
                                color: var(--textSubmenuHover);
                            }
                            a:hover:before,
                            .active-link-sub:before {
                                color: var(--textSubmenuBeforeHover);
                            }
                            .active-link-sub {
                                background-color: unset;
                                color: var(--textSubmenuHover);
                            }
                        }
                        li:last-child {
                            margin-bottom: 0px !important;
                        }
                    }
                    .link-open-submenu {
                        .active-link {
                            border-bottom: 1px solid var(--borderUserSidebar);
                            background-color: var(--backgroundMainSidebarFocus) !important;
                            .cover-icon-2 {
                                background-color: var(--backgroundiconSubmenuFocus);
                            }
                        }
                        .cover-icon-2 {
                            background-color: var(--backgroundiconSubmenu);
                        }
                    }
                    .active-link-user {
                        border-radius: 6px 6px 0px 0px !important;
                        background-color: var(--backgroundMainSidebarFocus) !important;
                        border-bottom: 1px solid var(--borderMultiple);
                        p {
                            color: var(--textUserActive) !important;
                        }
                    }
                }
            }
        }
        .footer-menu {
            padding: 20px;
            .bg-ul {
                background-color: var(--backgroundFooterSidebar);
                border-radius: 13px;
                li {
                    a {
                        display: flex;
                        padding: 10px 30px;
                        gap: 10px;
                        align-items: center;
                        i,
                        p {
                            color: var(--iconSidebar);
                        }
                    }
                    a:hover {
                        i,
                        p {
                            color: var(--textSidebarHover);
                        }
                    }
                }
            }
        }
        .copyright {
            display: flex;
            justify-content: center;
            color: var(--textfooter);
            font-size: 16px;
            padding: 0px 20px 20px 20px;
        }
    }
    .side-content::-webkit-scrollbar {
        display: none;
    }
    .side-content-mobile {
        display: block;
    }
    .topic-mobile {
        border-bottom: 1px solid $borderGray;
    }
}

.menu-cover-mini {
    display: none;
    width: 85px;
    background-color: var(--backgroundSidebar);
    position: fixed;
    padding: 0px !important;
    margin-top: 80px;
    top: 0px;
    z-index: 40;
    transition-duration: 0.3s;
    border: 1px solid $borderGray;

    .head-title {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 35px;
        justify-content: center;
        padding: 0px 0px 0px 0px;
        i {
            color: var(--iconOpen_CLoseSidebar);
            font-size: 18px;
            width: 18px;
            height: 18px;
            @include AbsoluteCenter();
        }
        .btn-menu-side {
            background-color: var(--backgroundSidebar);
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid var(--lineSidebar);
            padding: 0px;
            z-index: 10;
            position: relative;
        }
    }
    .cover-title {
        position: relative;
        z-index: 20;
        h4 {
            border: 1px dashed var(--lineSidebar);
            text-align: center;
            font-size: 16px;
            font-family: $font-bold;
            color: var(--lineSidebar);
            margin: 0px;
            padding: 5px;
            border-radius: 6px;
            width: 100px;
            z-index: 20;
            background-color: var(--backgroundSidebar);
        }
    }
    .line {
        width: 100%;
        border-top: 1px dashed var(--lineSidebar);
        position: absolute;
        height: 1px;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .topic {
        display: flex;
        justify-content: center;
        background-color: $white;
        width: 100%;
        padding: 15px;
    }
}
.topic {
    display: flex;
    justify-content: center;
    background-color: $white;
    width: 100%;
    padding: 13px;
}

/* *content all section */
