.logo {
    width: 150px;
}

.nav-bar-wrap {
    @media (min-width: $breakpoint-large) {
        background-color: $white;
        border-bottom: 2px solid $borderGray;
        position: fixed;
        z-index: 200;
    }
}
.left-side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 13px;
    gap: 20px;
    background-color: $white;
    position: fixed;
    z-index: 200;
    top: 0;
    border-bottom: 1px solid $borderGray;

    .icon-wrap {
        .dropdown {
            display: none !important;
            @media (min-width: $breakpoint-tablet) {
                display: block !important;
            }
        }
    }
    .wrapImg-dropdown {
        display: flex;
        align-items: center;
        @media (min-width: $breakpoint-tablet) {
            justify-content: space-between;
            gap: 5px;
        }
        @media (min-width: $breakpoint-large) {
            width: 100%;
            justify-content: flex-end;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        padding: 1px;
    }
    @media (min-width: $breakpoint-large) {
        position: static;
        background-color: unset;
        border: 0px;
        justify-content: space-between;
        gap: 0px;
    }
}

.right-side {
    @include rightSide;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-top: -130px;
    transition-duration: 0.2s;
    transform: $tranformReset;
    position: fixed;
    z-index: 50;
    .wrapProfile-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        .wrapProfile {
            display: flex;
            align-items: center;
            gap: 10px;
            @include mediaTabletNone();
        }
        .wrapLink {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        @media (min-width: $breakpoint-tablet) {
            justify-content: flex-end;
            width: auto;
        }
    }
    .wrap-search-btn {
        width: 100%;
        gap: 18px;
        display: flex;
        flex-direction: column;
        .wrap-search-setting {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            align-items: center;

            form {
                position: relative;
                i {
                    position: absolute;
                    color: $dropdownBorderColor;
                    top: 52%;
                    left: 26px;
                    transform: translate(-50%, -50%);
                }
                input {
                    border-radius: 12px;
                    border: 1px solid $dropdownBorderColor;
                    padding: 11px 11px 11px 40px;
                    background-color: $white;
                    @media (min-width: $breakpoint-tablet) {
                        width: 100%;
                    }
                }
                input:focus {
                    outline: none;
                }
                input::placeholder {
                    color: $grayLight;
                }
                @media (min-width: $breakpoint-tablet) {
                    width: 100%;
                }
            }
            .square-cover {
                @include circleCover();
                border-radius: 12px !important;
                a {
                    @include AbsoluteCenter();
                    padding: 13px;
                    object-fit: cover;
                    text-align: center;
                    color: $black;
                    font-size: 18px;
                }
            }
            @media (min-width: $breakpoint-tablet) {
                width: 80%;
                gap: 20px;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            justify-content: flex-end;
        }
        @media (min-width: $breakpoint-large) {
            flex-direction: row-reverse;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        z-index: 100;
    }
    @media (min-width: $breakpoint-large) {
        transform: $tranformReset !important;
        margin: 0px;
        position: static;
        box-shadow: unset;
        padding: 0px !important;
        background-color: unset;
        border: 0px;
        display: flex !important;
        background: unset;
        gap: 50px;
    }
}

.topic {
    display: flex;
    justify-content: center;
    background-color: $white;
    width: 100%;
    padding: 13px;
    .icon-wrap {
        width: 100%;
        justify-content: center;
        .btn-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        padding: 9px;
    }
}

.wrapProfile-collape {
    display: none;
    gap: 10px;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
        display: flex;
    }
    @media (min-width: $breakpoint-large) {
        justify-self: flex-end;
    }
}

.detail-profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
    p {
        margin: 0px;
        font-size: 18px;
        color: $grayDark;
        @media (min-width: $breakpoint-large) {
            font-size: 15px;
        }
    }
    .wrap {
        display: flex;
        align-items: center;
        gap: 15px;
        h5 {
            font-size: 18px;
            margin: 0px;
            font-family: $font-bold;
            @media (min-width: $breakpoint-large) {
                font-size: 16px;
            }
        }

        .line-wrap {
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            .line:first-child {
                width: 20px;
                height: 3px;
                border-radius: 35px;
                background-color: $dropdownBorderColor;
            }
            .line:last-child {
                width: 14px;
                height: 3px;
                border-radius: 35px;
                align-self: flex-end;
                background-color: $dropdownBorderColor;
            }
        }
    }
}
