/*  Ubuntu-bold */
@font-face {
    font-family: "Ubuntu-bold";
    src: url(./font/Ubuntu/Ubuntu-Bold.eot);
    src:
        url("Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Bold.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Bold.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Bold.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Bold.svg) format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*  Ubuntu-Italic */
@font-face {
    font-family: "Ubuntu-Italic";
    src: url(./font/Ubuntu/Ubuntu-Italic.eot);
    src:
        url("Ubuntu-Italic.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Italic.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Italic.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Italic.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Italic.svg) format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/*  Ubuntu-Medium */
@font-face {
    font-family: "Ubuntu-Medium";
    src: url(./font/Ubuntu/Ubuntu-Medium.eot);
    src:
        url("Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Medium.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Medium.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Medium.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Medium.svg) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*  Ubuntu (Regular) */
@font-face {
    font-family: "Ubuntu";
    src: url(./font/Ubuntu/Ubuntu-Regular.eot);
    src:
        url("Ubuntu-Regular.eot?#iefix") format("embedded-opentype"),
        url(./font/Ubuntu/Ubuntu-Regular.woff2) format("woff2"),
        url(./font/Ubuntu/Ubuntu-Regular.woff) format("woff"),
        url(./font/Ubuntu/Ubuntu-Regular.ttf) format("truetype"),
        url(./font/Ubuntu/Ubuntu-Regular.svg) format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


a {
    text-decoration: none;
}

a:focus {
    color: unset;
}
h1{
    @media (min-width:$breakpoint-extralarge) {
        font-size: 20px;
    }
}
h2 {
    margin: 0px;
    font-family: $font-bold;
    @media (min-width:$breakpoint-extralarge) {
        font-size: 19px;
    }
}
p {
    margin: 0px;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}